Latest news send to email.json
{
  "name": "Latest news send to email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        -16
      ],
      "id": "8d00f91f-9240-486f-91ec-5b28f7317594",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71c423bf-1a8a-4b25-9c28-857a92a708a0",
              "name": "articles",
              "value": "={{ $json.articles }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        -112
      ],
      "id": "d758fe8f-ce7d-4098-a909-a22bb9cee912",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "71c423bf-1a8a-4b25-9c28-857a92a708a0",
              "name": "articles",
              "value": "={{ $json.articles }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        80
      ],
      "id": "a4bbd9e5-ca5a-40f3-a37d-af9eeb72976d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        208,
        -16
      ],
      "id": "9bf3bd7a-fbdb-4b51-ad23-d613b72ffc9c",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Select Top Articles ##\nFrom {{ $json.articles }}, choose the 15 most relevant articles related to AI technology advancements, tools, research, and applications.\n\n## Summarize Clearly ##\nWrite in clear, professional, and readable language, summarizing the main point of each article in 1-2 short sentences.\n\n## Include Links ##\nAfter each summary, add the article’s URL for readers to explore more.\n\n## Add the Date ##\nBegin the summary with today’s date:\n{{ $now.format('yyyy/MM/dd') }}",
        "options": {
          "systemMessage": "## Output Format ##\nOnly return the summary in plain text — no explanations or additional formatting. Keep the response up to 2000 characters"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        432,
        -16
      ],
      "id": "aac94366-705f-49d9-9c6b-215095da8299",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-opus-4-7",
          "mode": "list",
          "cachedResultName": "Claude Opus 4.7"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        432,
        224
      ],
      "id": "864087ab-8065-43ea-9d0e-1fed439c006b",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "9TrAEOcEc72BStsX",
          "name": "Anthropic account 2"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "talktossaxena@gmail.com",
        "subject": "Latest News",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        784,
        -16
      ],
      "id": "d7fa850f-cbd1-4aab-882f-48ec8c5dc96f",
      "name": "Send a message",
      "webhookId": "00e3c2cc-9535-4409-a895-ef1ed86f0034",
      "credentials": {
        "gmailOAuth2": {
          "id": "D00bTTeDoWnxOXJn",
          "name": "Gmail account talktossaxena"
        }
      }
    },
    {
      "parameters": {
        "url": "https://gnews.io/api/v4/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "AI"
            },
            {
              "name": "lang",
              "value": "en"
            },
            {
              "name": "apikey",
              "value": "fb1cb8a23fbd8a3e15c8e9abeccfc1d9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        -112
      ],
      "id": "0ab4e19a-4721-48ad-b544-aa80225c1c30",
      "name": "HTTP get gnews"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "AI"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sortby",
              "value": "publishedAt"
            },
            {
              "name": "PageSize",
              "value": "20"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "b4f9aeb43078482e86722d9c87ce004a"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -240,
        80
      ],
      "id": "fefbaa07-538e-4938-9d34-df22f2bb222a",
      "name": "HTTP news newsapi"
    },
    {
      "parameters": {
        "content": "",
        "height": 560,
        "width": 1616,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -576,
        -192
      ],
      "typeVersion": 1,
      "id": "3f38ecf8-6900-4455-8d22-f4a304838df9",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP get gnews",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP news newsapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP get gnews": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP news newsapi": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "24add7c8-785f-43c0-a182-8ed361a24ed0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0bfd49b9dfb2ecb86163029d5744c012eeee5f1a722ee7a8664688227997365b"
  },
  "id": "u4B63LbX8Nb3blpA",
  "tags": []
}