Zabbix - Actions.json
{
  "name": "Zabbix - Actions",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Action to perform'] }}",
                    "rightValue": "Add - URL Availability Monitor",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "731e0d27-cb94-4c37-8140-75ed606adff7"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b416bc21-9cb3-4ce9-b629-fb9f4a8b73c7",
                    "leftValue": "={{ $json['Action to perform'] }}",
                    "rightValue": "Add - Port Availability Monitor",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3bb9d021-dcaf-4e65-be86-ae899d35c8a7",
                    "leftValue": "={{ $json['Action to perform'] }}",
                    "rightValue": "Add - MySQL Database Availability Monitor",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2750310f-29a8-4f41-a55f-4bae8d1abc5b",
                    "leftValue": "={{ $json['Action to perform'] }}",
                    "rightValue": "Add - MSSQL Database Availability Monitor",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a5fb852e-464d-4080-8154-edaed5cafb6e",
                    "leftValue": "={{ $json['Action to perform'] }}",
                    "rightValue": "Add - Postgres Database Availability Monitor",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ca4c363e-2856-4dd8-9bec-f86b243d6b77",
                    "leftValue": "={{ $json['Action to perform'] }}",
                    "rightValue": "Add - Oracle Database Availability Monitor",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "8809a96e-d74a-4525-829c-ad07e6c21eca",
                    "leftValue": "={{ $json['Action to perform'] }}",
                    "rightValue": "List - Non WEB Monitors for an Application",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "64c77b57-4d44-4b4b-aaa8-bdfdd9125b88",
                    "leftValue": "={{ $json['Action to perform'] }}",
                    "rightValue": "List - WEB Monitors for an Application",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1904,
        -1872
      ],
      "id": "028c3866-62be-4892-829b-3b7f22b81523",
      "name": "Switch"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Application Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Application Alias Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Application ASK ID",
              "requiredField": true
            },
            {
              "fieldLabel": "Monitor Template File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            },
            {
              "fieldLabel": "Email ID to send approval link",
              "placeholder": "comma separated email ids ",
              "requiredField": true
            },
            {
              "fieldLabel": "Are you sure to create monitors?",
              "fieldType": "radio",
              "defaultValue": "No",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "={{ $('Zabbix - Add / List Monitors').item.json['Action to perform'] }}",
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1680,
        -2448
      ],
      "id": "c1aad617-a6da-4e8e-a05b-9915e736ac4a",
      "name": "URL Monitors",
      "webhookId": "300f81ba-1e58-465a-bbc3-af646267f716"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Q4G8AkGRF55wQbIA",
          "mode": "list",
          "cachedResultUrl": "/workflow/Q4G8AkGRF55wQbIA",
          "cachedResultName": "Zabbix - Add URL Monitors"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1008,
        -2448
      ],
      "id": "49e511e4-2406-4b50-a2a4-f0c54afb4d1a",
      "name": "Add URL Monitors",
      "alwaysOutputData": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Application Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Application Alias Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Application ASK ID",
              "requiredField": true
            },
            {
              "fieldLabel": "Monitor Template File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            },
            {
              "fieldLabel": "Email ID to send approval link",
              "placeholder": "comma separated email ids ",
              "requiredField": true
            },
            {
              "fieldLabel": "Are you sure to create monitors?",
              "fieldType": "radio",
              "defaultValue": "No",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "={{ $('Zabbix - Add / List Monitors').item.json['Action to perform'] }}",
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1680,
        -2256
      ],
      "id": "6d1baf1e-13ba-4c96-a73e-aa58e6fc6867",
      "name": "Port Monitors",
      "webhookId": "300f81ba-1e58-465a-bbc3-af646267f716"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aFL7AQzqPtaFqPeZ",
          "mode": "list",
          "cachedResultUrl": "/workflow/aFL7AQzqPtaFqPeZ",
          "cachedResultName": "Zabbix - Add Port Monitors"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1008,
        -2256
      ],
      "id": "ef0b9c55-8888-4360-81e1-0ee38b0b10fa",
      "name": "Add Port Monitors"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Application Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Application Alias Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Application ASK ID",
              "requiredField": true
            },
            {
              "fieldLabel": "Monitor Template File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            },
            {
              "fieldLabel": "Email ID to send approval link",
              "placeholder": "comma separated email ids",
              "requiredField": true
            },
            {
              "fieldLabel": "Are you sure to create monitors?",
              "fieldType": "radio",
              "defaultValue": "No",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "={{ $('Zabbix - Add / List Monitors').item.json['Action to perform'] }}",
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1680,
        -2064
      ],
      "id": "bdead76b-879d-4d34-8a25-9ddb78448db8",
      "name": "MySQL Monitors",
      "webhookId": "300f81ba-1e58-465a-bbc3-af646267f716"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Application Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Application Alias Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Application ASK ID",
              "requiredField": true
            },
            {
              "fieldLabel": "Monitor Template File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            },
            {
              "fieldLabel": "Email ID to send approval link",
              "placeholder": "comma separated email ids",
              "requiredField": true
            },
            {
              "fieldLabel": "Are you sure to create monitors?",
              "fieldType": "radio",
              "defaultValue": "No",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "={{ $('Zabbix - Add / List Monitors').item.json['Action to perform'] }}",
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1680,
        -1872
      ],
      "id": "68f59191-3f26-4db1-8647-fac71f7bc77c",
      "name": "MSSQL Monitors",
      "webhookId": "300f81ba-1e58-465a-bbc3-af646267f716"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Application Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Application Alias Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Application ASK ID",
              "requiredField": true
            },
            {
              "fieldLabel": "Monitor Template File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            },
            {
              "fieldLabel": "Email ID to send approval link",
              "placeholder": "comma separated email ids",
              "requiredField": true
            },
            {
              "fieldLabel": "Are you sure to create monitors?",
              "fieldType": "radio",
              "defaultValue": "No",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "={{ $('Zabbix - Add / List Monitors').item.json['Action to perform'] }}",
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1680,
        -1680
      ],
      "id": "5c10f817-1afb-4c43-9ff2-b2f5ba198be7",
      "name": "Postgres Monitors",
      "webhookId": "300f81ba-1e58-465a-bbc3-af646267f716"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Application Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Application Alias Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Application ASK ID",
              "requiredField": true
            },
            {
              "fieldLabel": "Monitor Template File",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".xlsx",
              "requiredField": true
            },
            {
              "fieldLabel": "Email ID to send approval link",
              "placeholder": "comma separated email ids",
              "requiredField": true
            },
            {
              "fieldLabel": "Are you sure to create monitors?",
              "fieldType": "radio",
              "defaultValue": "No",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "={{ $('Zabbix - Add / List Monitors').item.json['Action to perform'] }}",
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1680,
        -1488
      ],
      "id": "539b41e2-bd98-4673-81f7-3107ef1cf8fe",
      "name": "Oracle Monitors",
      "webhookId": "300f81ba-1e58-465a-bbc3-af646267f716"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "q6bomJ7EJhP2sPxx",
          "mode": "list",
          "cachedResultUrl": "/workflow/q6bomJ7EJhP2sPxx",
          "cachedResultName": "Zabbix - Add MySQL Monitors"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1008,
        -2064
      ],
      "id": "a5295ed9-4700-42b1-be79-5864fba4ff03",
      "name": "Add MySQL Monitors"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AIBErE1YtLTXMWEu",
          "mode": "list",
          "cachedResultUrl": "/workflow/AIBErE1YtLTXMWEu",
          "cachedResultName": "Zabbix - Add MSSQL Monitors"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1008,
        -1872
      ],
      "id": "98b798d4-3e63-4ec2-9de8-54a952b24f22",
      "name": "Add MSSQL Monitors"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3oCIzo1VrAd5342E",
          "mode": "list",
          "cachedResultUrl": "/workflow/3oCIzo1VrAd5342E",
          "cachedResultName": "Zabbix - Add Postgres Monitors"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1008,
        -1680
      ],
      "id": "62513211-aff7-472d-b098-46b0f8c5c8e7",
      "name": "Add Postgres Monitors"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "zZ3Bin1WHzQ1cL7Q",
          "mode": "list",
          "cachedResultUrl": "/workflow/zZ3Bin1WHzQ1cL7Q",
          "cachedResultName": "Zabbix - Add Oracle Monitors"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1008,
        -1488
      ],
      "id": "08b5fa87-107d-4a6a-a927-421aae73b0e5",
      "name": "Add Oracle Monitors"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/workflow-{{ $execution.id }}-{{ $json.submittedAt }}.xlsx",
        "dataPropertyName": "=Monitor_Template_File",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1456,
        -2448
      ],
      "id": "ec84c2ae-a76f-4da3-8dd9-161a30af85c3",
      "name": "Write URL Template file to disk"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/workflow-{{ $execution.id }}-{{ $json.submittedAt }}.xlsx",
        "dataPropertyName": "=Monitor_Template_File",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1456,
        -2256
      ],
      "id": "41b52014-7873-43dc-b02a-44ea9bf9c9ba",
      "name": "Write Port Template file to disk"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/workflow-{{ $execution.id }}-{{ $json.submittedAt }}.xlsx",
        "dataPropertyName": "=Monitor_Template_File",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1456,
        -2064
      ],
      "id": "ce472622-3df6-4ec9-aac3-c1496db1fa46",
      "name": "Write MySQL Template file to disk"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/workflow-{{ $execution.id }}-{{ $json.submittedAt }}.xlsx",
        "dataPropertyName": "=Monitor_Template_File",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1456,
        -1872
      ],
      "id": "f2f4c020-a483-4309-878a-9dcb2e0c7715",
      "name": "Write MSSQL Template file to disk"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/workflow-{{ $execution.id }}-{{ $json.submittedAt }}.xlsx",
        "dataPropertyName": "=Monitor_Template_File",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1456,
        -1680
      ],
      "id": "b2f74b57-bfb7-4a5d-9ef9-bc4934bfde55",
      "name": "Write Postgres Template file to disk"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/workflow-{{ $execution.id }}-{{ $json.submittedAt }}.xlsx",
        "dataPropertyName": "=Monitor_Template_File",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1456,
        -1488
      ],
      "id": "b1cd5a82-1600-4b9c-b4db-46486e7ccc6e",
      "name": "Write Oracle Template file to disk"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "Yes",
                    "rightValue": "={{ $('URL Monitors').item.json['Are you sure to create monitors?'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6411fa4b-e0c7-40e3-9271-41fbac8f6998"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1232,
        -2448
      ],
      "id": "e014bbb1-f8bb-40a4-b6f5-730472343f7f",
      "name": "Create URL Monitors?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "Yes",
                    "rightValue": "={{ $('Port Monitors').item.json['Are you sure to create monitors?'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6411fa4b-e0c7-40e3-9271-41fbac8f6998"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1232,
        -2256
      ],
      "id": "bb90c8f9-b2b6-4898-ae4a-fc319cca8e2b",
      "name": "Create Port Monitors?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "Yes",
                    "rightValue": "={{ $('MySQL Monitors').item.json['Are you sure to create monitors?'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6411fa4b-e0c7-40e3-9271-41fbac8f6998"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1232,
        -2064
      ],
      "id": "1787b9f4-cf51-4dbf-a0b1-04665b168102",
      "name": "Create MySQL Monitors?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "Yes",
                    "rightValue": "={{ $('MSSQL Monitors').item.json['Are you sure to create monitors?'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6411fa4b-e0c7-40e3-9271-41fbac8f6998"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1232,
        -1872
      ],
      "id": "adcc027b-f8cd-41f1-ab6f-680d39184230",
      "name": "Create MSSQL Monitors?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "Yes",
                    "rightValue": "={{ $('Postgres Monitors').item.json['Are you sure to create monitors?'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6411fa4b-e0c7-40e3-9271-41fbac8f6998"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1232,
        -1680
      ],
      "id": "ed732198-f7a8-42d5-b2b7-dd9d54832f47",
      "name": "Create Postgres Monitors?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "Yes",
                    "rightValue": "={{ $('Oracle Monitors').item.json['Are you sure to create monitors?'] }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6411fa4b-e0c7-40e3-9271-41fbac8f6998"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1232,
        -1488
      ],
      "id": "909969a3-83c8-4b82-bf8c-69f9bd7b45ae",
      "name": "Create Oracle Monitors?"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Zabbix - Add / List Monitors",
        "formDescription": "Download templates to populate with monitor details\n\n<a href=\"https://file.example.com/url.xlsx\">URL Monitor Template</a><br>\n<a href=\"https://file.example.com/port.xlsx\">Port Monitor Template</a><br>\n<a href=\"https://file.example.com/db.xlsx\">Database Monitor Template</a><br>",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Action to perform",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Add - URL Availability Monitor"
                  },
                  {
                    "option": "Add - Port Availability Monitor"
                  },
                  {
                    "option": "Add - MySQL Database Availability Monitor"
                  },
                  {
                    "option": "Add - MSSQL Database Availability Monitor"
                  },
                  {
                    "option": "Add - Postgres Database Availability Monitor"
                  },
                  {
                    "option": "Add - Oracle Database Availability Monitor"
                  },
                  {
                    "option": "List - Non WEB Monitors for an Application"
                  },
                  {
                    "option": "List - WEB Monitors for an Application"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Next",
          "path": "zabbix-monitors"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -2128,
        -1776
      ],
      "id": "8dc012a5-8466-4c9b-bbf0-e8c0c8b12961",
      "name": "Zabbix - Add / List Monitors",
      "webhookId": "27c08210-0087-4792-8197-f4fa746051a6",
      "credentials": {
        "httpBasicAuth": {
          "id": "fmOghJeqsYrdrXeS",
          "name": "n8n basic auth"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "8ll20oXUS1mvRiXT",
          "mode": "list",
          "cachedResultUrl": "/workflow/8ll20oXUS1mvRiXT",
          "cachedResultName": "Zabbix - List Non WEB Monitors"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1456,
        -1296
      ],
      "id": "14dd06ea-34d5-43e2-bfc7-5b91321406a4",
      "name": "List Non WEB Monitors"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Application Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email ID to send items list",
              "placeholder": "comma separated email ids",
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "={{ $('Zabbix - Add / List Monitors').item.json['Action to perform'] }}",
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1680,
        -1296
      ],
      "id": "91249ebc-0f5e-4dfb-82f4-fb3cabcc31c1",
      "name": "Non WEB Monitors",
      "webhookId": "300f81ba-1e58-465a-bbc3-af646267f716"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Application Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email ID to send items list",
              "placeholder": "comma separated email ids",
              "requiredField": true
            }
          ]
        },
        "options": {
          "formTitle": "={{ $('Zabbix - Add / List Monitors').item.json['Action to perform'] }}",
          "buttonLabel": "Submit"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        -1680,
        -1104
      ],
      "id": "dc82a62f-de95-4bd3-974a-29baa62db1f0",
      "name": "WEB Monitors",
      "webhookId": "300f81ba-1e58-465a-bbc3-af646267f716"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "171V6VKgPBI2jIYJ",
          "mode": "list",
          "cachedResultUrl": "/workflow/171V6VKgPBI2jIYJ",
          "cachedResultName": "Zabbix - List WEB Monitors"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1456,
        -1104
      ],
      "id": "74c2a547-1739-40c8-801d-872704a5d49f",
      "name": "List WEB Monitors"
    }
  ],
  "pinData": {},
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "URL Monitors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Port Monitors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MySQL Monitors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MSSQL Monitors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres Monitors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Oracle Monitors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Non WEB Monitors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WEB Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Monitors": {
      "main": [
        [
          {
            "node": "Write URL Template file to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Port Monitors": {
      "main": [
        [
          {
            "node": "Write Port Template file to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL Monitors": {
      "main": [
        [
          {
            "node": "Write MySQL Template file to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MSSQL Monitors": {
      "main": [
        [
          {
            "node": "Write MSSQL Template file to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Monitors": {
      "main": [
        [
          {
            "node": "Write Postgres Template file to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Oracle Monitors": {
      "main": [
        [
          {
            "node": "Write Oracle Template file to disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write URL Template file to disk": {
      "main": [
        [
          {
            "node": "Create URL Monitors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Port Template file to disk": {
      "main": [
        [
          {
            "node": "Create Port Monitors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write MySQL Template file to disk": {
      "main": [
        [
          {
            "node": "Create MySQL Monitors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write MSSQL Template file to disk": {
      "main": [
        [
          {
            "node": "Create MSSQL Monitors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Postgres Template file to disk": {
      "main": [
        [
          {
            "node": "Create Postgres Monitors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Oracle Template file to disk": {
      "main": [
        [
          {
            "node": "Create Oracle Monitors?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create URL Monitors?": {
      "main": [
        [
          {
            "node": "Add URL Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Port Monitors?": {
      "main": [
        [
          {
            "node": "Add Port Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create MySQL Monitors?": {
      "main": [
        [
          {
            "node": "Add MySQL Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create MSSQL Monitors?": {
      "main": [
        [
          {
            "node": "Add MSSQL Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Postgres Monitors?": {
      "main": [
        [
          {
            "node": "Add Postgres Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Oracle Monitors?": {
      "main": [
        [
          {
            "node": "Add Oracle Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zabbix - Add / List Monitors": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Non WEB Monitors": {
      "main": [
        [
          {
            "node": "List Non WEB Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WEB Monitors": {
      "main": [
        [
          {
            "node": "List WEB Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7c5cfa55-4a1f-49d8-b8dc-1030017d4687",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f9b7d8392fb9b22e1572f122d2199da1a316578c69792bb5ebd6447fbba818b"
  },
  "id": "WIg4pziZdv6UJgT4",
  "tags": []
}