Sub Workflows/Zabbix - Add Postgres Monitors.json
{
  "name": "Zabbix - Add Postgres Monitors",
  "nodes": [
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"templategroup.create\",\n    \"params\": {\n        \"name\": \"DB/PostgreSQL/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\"\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7952,
        -1872
      ],
      "id": "656b3783-4be8-435b-bec2-f3e6666d411e",
      "name": "Create Template Group",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n\t\"jsonrpc\": \"2.0\",\n\t\"method\": \"hostgroup.create\",\n\t\"params\": {\n\t\t\"name\": \"DB/PostgreSQL/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\"\n\t},\n\t\"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7728,
        -1872
      ],
      "id": "f03ab703-05b3-4d02-9694-6e8a9e213437",
      "name": "Create Host Group",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"hostgroup.get\",\n    \"params\": {\n      \"filter\": { \"name\": \"DB/PostgreSQL/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\" },\n      \"output\": [ \"groupid\", \"name\" ]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7056,
        -1872
      ],
      "id": "9ea37be6-b203-457e-99a9-d4a6c40bf4c0",
      "name": "Host Group ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"templategroup.get\",\n    \"params\": {\n      \"filter\": { \"name\": \"DB/PostgreSQL/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\" },\n      \"output\": [ \"groupid\", \"name\" ]\n    },\n    \"id\": 1\n}\n",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7280,
        -1872
      ],
      "id": "2fe1d50f-2bdd-4fe4-b6b4-fbe59fff21a2",
      "name": "Template Group ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"template.get\",\n    \"params\": {\n      \"filter\": { \"host\": \"Example Template PostgreSQL -{{ $('Exclude Special Characters').item.json.stdout }}\" },\n      \"output\": [\"templateid\", \"host\", \"name\"]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6608,
        -1872
      ],
      "id": "2be4105a-6138-485f-b6a8-e608e509a532",
      "name": "Template ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Parent Workflow').item.json['fileName'] }}.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -5488,
        -1872
      ],
      "id": "25d866a4-49ad-492d-868d-4543c40f3ede",
      "name": "Read CSV"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -5040,
        -1872
      ],
      "id": "cdf6e7c7-81bf-4eac-ace9-71dffebc8917",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -9744,
        -1560
      ],
      "id": "3877fd04-8743-4440-93f3-dbe28c76c7ff",
      "name": "Parent Workflow"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"host.get\",\n    \"params\": {\n      \"filter\": { \"host\": \"{{ $('Exclude Special Characters').item.json.stdout }}\" },\n      \"output\": [\"hostid\", \"host\", \"name\"]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5936,
        -1968
      ],
      "id": "9fc322b2-731b-474c-b25a-5a069e88921a",
      "name": "Host ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"template.create\",\n    \"params\": {\n      \"host\": \"Example Template PostgreSQL -{{ $('Exclude Special Characters').item.json.stdout }}\",\n      \"name\": \"Example Template PostgreSQL -{{ $('Exclude Special Characters').item.json.stdout }}\",\n      \"description\": \"{{ $('Parent Workflow').item.json['Application Name'] }}\",\n      \"groups\": [\n        { \"groupid\": \"{{ $('Template Group ID').item.json.result[0].groupid }}\" }\n      ],\n      \"tags\": [\n\t{ \"tag\": \"NODATA\", \"value\": \"YES\" },\n        { \"tag\": \"OBJECTCLASS\", \"value\": \"PostgreSQL\" },\n        { \"tag\": \"OBJECTPARAMETER\", \"value\": \"DB Status\" }\n      ]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6832,
        -1872
      ],
      "id": "1f6c5362-f22a-4249-a6af-aba157d0a776",
      "name": "Create Template",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "=\n{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.create\",\n  \"params\": {\n    \"host\": \"{{ $('Exclude Special Characters').item.json.stdout }}\",\n    \"status\": 1,\n    \"monitored_by\": 1,\n    \"proxyid\": 30774,\n    \"interfaces\": [{\n      \"type\": 1,\n      \"main\": 1,\n      \"useip\": 1,\n      \"ip\": \"{$NON_DMZ_PROXY_IP}\",\n      \"dns\": \"\",\n      \"port\": \"10050\"\n    }],\n    \"groups\": [{ \"groupid\": \"{{ $('Host Group ID').item.json.result[0].groupid }}\" }],\n    \"templates\": [{ \"templateid\": \"{{ $json.result[0].templateid }}\" }],\n    \"tags\": [{ \"tag\": \"APP\", \"value\": \"{{ $('Parent Workflow').item.json['Application Name'] }}\" }]\n  },\n  \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6384,
        -1872
      ],
      "id": "f307684c-af3f-4c01-aca8-085aad872e0a",
      "name": "Create Host",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\":\"2.0\",\n    \"method\":\"host.massadd\",\n    \"params\":{\n      \"hosts\":[{ \"hostid\": \"{{ $json.result[0].hostid }}\" }],\n      \"templates\":[{ \"templateid\": \"{{ $('Template ID').item.json.result[0].templateid }}\" }],\n      \"groups\": [{ \"groupid\": \"{{ $('Host Group ID').item.json.result[0].groupid }}\" }]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5712,
        -1968
      ],
      "id": "cbd2bcd5-97a2-4706-9491-67ee7d938d21",
      "name": "Update Host",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"item.create\",\n  \"params\": {\n    \"name\": \"{{ $json['Monitor Name'] }}\",\n    \"hostid\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n    \"key_\": \"db.odbc.select[{{ $json.HostUpper }}.{{ $json.DBUpper }}.Availability.Monitor,,\\\"Driver={$POSTSQL.DRIVER};Server={{ $json['Host FQDN'] }};Port={{ $json.Port }};Database={{ $json.Database }}\\\"]\",\n    \"type\": 11,\n    \"value_type\": 3,\n    \"username\": \"{$PGSQL.USER.{{ $json.HostUpper }}.{{ $json.DBUpper }}}\",\n    \"password\": \"{$PGSQL.PASS.{{ $json.HostUpper }}.{{ $json.DBUpper }}}\",\n    \"params\": \"SELECT 1\",\n    \"delay\": \"{{ $json.CheckInterval }}m\",\n    \"status\": 0,\n    \"tags\": [\n      { \"tag\": \"Application\", \"value\": \"PostgreSQL\" }\n    ]\n  },\n  \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4816,
        -2064
      ],
      "id": "9b8be84b-274d-4de8-8c9e-df04908a7431",
      "name": "Create Item",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"trigger.create\",\n    \"params\": [{\n      \"description\": \"{{ $('Loop Over Items').item.json['Event Description'] }}\",\n      \"expression\": \"nodata(/{{ $('Template ID').item.json.result[0].name }}/db.odbc.select[{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}.Availability.Monitor,,\\\"Driver={$POSTSQL.DRIVER};Server={{ $('Loop Over Items').item.json['Host FQDN'] }};Port={{ $('Loop Over Items').item.json.Port }};Database={{ $('Loop Over Items').item.json.Database }}\\\"],{{ $('Loop Over Items').item.json.CheckSeconds }}s)=1\",\n      \"priority\": \"{{ $('Loop Over Items').item.json.Severity }}\",\n      \"status\": 1,\n      \"comments\": \"{{ $('Loop Over Items').item.json['Event Description'] }}\",\n      \"tags\": [\n        {\"tag\": \"CATEGORY\",        \"value\": \"Application\"},\n        {\"tag\": \"DBNAME\",          \"value\": \"{{ $('Loop Over Items').item.json.Database }}\"},\n        {\"tag\": \"DOMAIN\",          \"value\": \"{{ $('Loop Over Items').item.json['Host FQDN'] }}\"},\n        {\"tag\": \"NODATA\",          \"value\": \"YES\"},\n        {\"tag\": \"OBJECTCLASS\",     \"value\": \"PostgreSQL\"},\n        {\"tag\": \"OBJECTINSTANCE\",  \"value\": \"PostgreSQL\"},\n        {\"tag\": \"OBJECTNAME\",      \"value\": \"\"},\n        {\"tag\": \"OBJECTPARAMETER\", \"value\": \"DB Status\"},\n        {\"tag\": \"TRIGGERID\",       \"value\": \"{TRIGGER.ID}\"},\n        {\"tag\": \"WORKGROUP\",       \"value\": \"{{ $('Loop Over Items').item.json.Workgroup }}\"}\n      ]\n    }],\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3024,
        -1896
      ],
      "id": "54b89ba7-e269-45fb-89bf-61b71212f8b7",
      "name": "Create Trigger",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "fromEmail": "zabbix-admin@example.com",
        "toEmail": "={{ $('Parent Workflow').item.json['Email ID to send approval link'] }},zabbix-admin@example.com",
        "subject": "=Approval Required - {{ $workflow.name }} ({{ $workflow.id }}) [ {{ $('Parent Workflow').item.json['Application Name'] }} ({{ $('Parent Workflow').item.json['Application Alias Name'] }}) ({{ $('Parent Workflow').item.json['Application ASK ID'] }}) ]",
        "message": "={{ $('HTML Monitors list').item.json['stdout'] }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -8848,
        -1704
      ],
      "id": "d5780d68-734b-45e5-8d49-8bad0ec72e00",
      "name": "Email Approval",
      "webhookId": "97cad8ea-02a5-43a9-9bb1-0c3007920050",
      "credentials": {
        "smtp": {
          "id": "hlptozjprdl23nBh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "command": "=awk -F'[|]' '\nBEGIN {\n    print \"<table border=\\\"1\\\">\"\n}\nNR==1 {\n    print \"  <thead><tr>\"\n    for (i=1; i<=NF; i++) {\n        if (i != 6 && i != 12 && i != 13 && i != 14) {\n            printf \"    <th>%s</th>\\n\", $i\n        }\n    }\n    print \"  </tr></thead>\"\n    print \"  <tbody>\"\n    next\n}\n{\n    print \"  <tr>\"\n    for (i=1; i<=NF; i++) {\n        if (i != 6 && i != 12 && i != 13 && i != 14) {\n            printf \"    <td>%s</td>\\n\", $i\n        }\n    }\n    print \"  </tr>\"\n}\nEND {\n    print \"  </tbody>\"\n    print \"</table>\"\n}' {{ $('Parent Workflow').item.json.fileName }}.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -9072,
        -1704
      ],
      "id": "5d67de7a-4e70-47b9-ab59-1ebfb4f8d71f",
      "name": "HTML Monitors list",
      "executeOnce": true
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n \"jsonrpc\": \"2.0\",\n \"method\": \"usermacro.get\",\n \"params\": {\n   \"output\": [\"hostmacroid\"],\n   \"hostids\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n   \"filter\": {\n     \"macro\": \"{$PGSQL.USER.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\"\n   }\n },\n \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4368,
        -2064
      ],
      "id": "e60ada41-e45e-4c32-b628-934b9c5cd91c",
      "name": "Username Macro ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n \"jsonrpc\": \"2.0\",\n \"method\": \"usermacro.get\",\n \"params\": {\n   \"output\": [\"hostmacroid\"],\n   \"hostids\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n   \"filter\": {\n     \"macro\": \"{$PGSQL.PASS.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\"\n   }\n },\n \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3696,
        -2064
      ],
      "id": "eb812390-32d4-42fc-8b81-bfa32acb725a",
      "name": "Password Macro ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.create\",\n    \"params\": {\n      \"hostid\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n      \"macro\": \"{$PGSQL.USER.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database User'] }}\",\n      \"type\": 0\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3920,
        -1968
      ],
      "id": "f0a4efe4-c8b0-48ad-b98b-5776991ae586",
      "name": "Create Username Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.create\",\n    \"params\": {\n      \"hostid\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n      \"macro\": \"{$PGSQL.PASS.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database Password'] }}\",\n      \"type\": 1\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3248,
        -1968
      ],
      "id": "070c1b5b-0584-4cf9-ba6b-57bdffcefd58",
      "name": "Create Password Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.update\",\n    \"params\": {\n      \"hostmacroid\": \"{{ $json.result[0].hostmacroid }}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database User'] }}\",\n      \"type\": 0\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3920,
        -2160
      ],
      "id": "1e9e8ce5-39fc-4d28-8a45-0eead08fe6ac",
      "name": "Update Username Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.update\",\n    \"params\": {\n      \"hostmacroid\": \"{{ $json.result[0].hostmacroid }}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database Password'] }}\",\n      \"type\": 1\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3248,
        -2160
      ],
      "id": "d19423cb-8759-40ee-b01c-c9d1fe9e9ca6",
      "name": "Update Password Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Monitor_Template_File",
        "options": {
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -9520,
        -1560
      ],
      "id": "3d5b5bd2-d08a-445c-854d-46516f177c5d",
      "name": "Excel to JSON"
    },
    {
      "parameters": {
        "command": "=echo \"{{ $json.row[0] }}|{{ $json.row[1] }}|{{ $json.row[2] }}|{{ $json.row[3] }}|{{ $json.row[4] }}|{{ $json.row[5] }}|{{ $json.row[6] }}|{{ $json.row[7] }}|{{ $json.row[8] }}|{{ $json.row[9] }}|{{ $json.row[10] }}\" | awk -F'[|]' 'NR = 1 {\n    name        = $1\n    host        = $2\n    port        = $3\n    database    = $4\n    dbuser      = $5\n    dbpass      = $6\n    eventname   = $7\n    severity    = $8\n    interval    = $9\n    checks      = $10\n    workgroup   = $11\n\n    if (severity == \"Severity\") {\n        print \"Monitor Name|Host FQDN|Port|Database|Database User|Database Password|Event Description|Severity|CheckInterval|ConsecutiveChecks|Workgroup|CheckSeconds|HostUpper|DBUpper\"\n        next\n    }\n\n    # Decide NAME per original rules\n    if (name == \"\") {\n            item_name = \"PostgreSQL \" database \" monitoring Status on \" host\n    } else {\n        item_name = name\n    }\n\n    # If workgroup is null, then print empty workgroup name\n    if (workgroup == \"\")\n            workgroup = \"\"\n\n    # If eventname is null, then define eventname\n    if (eventname == \"\")\n            eventname = \"PostgreSQL DB \" database \" is not available on host \" host\n\n    checksecs = interval * checks * 60\n\n    # Derive short host name (part before the first dot)\n    short_host = host\n    sub(/\\..*$/, \"\", short_host)\n\n    # Convert database and short_host to uppercase for output\n    db_upper = toupper(database)\n    host_upper = toupper(short_host)\n\n    print item_name \"|\" host \"|\" port \"|\" database \"|\" dbuser \"|\" dbpass \"|\" eventname \"|\" severity \"|\" interval \"|\" checks \"|\" workgroup \"|\" checksecs \"|\" host_upper \"|\" db_upper\n}' >> {{ $('Parent Workflow').item.json.fileName }}.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -9072,
        -1512
      ],
      "id": "999ff0ea-62e3-4371-a633-78a3cf371d89",
      "name": "Create Monitors CSV File"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users AS u\nJOIN (\n  SELECT userid\n  FROM users\n  WHERE username = 'user'\n) AS x ON x.userid = u.userid\nSET u.roleid = 3;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -8176,
        -1872
      ],
      "id": "812ffaa6-74fd-4d2d-9dd0-e6ab6edbf60c",
      "name": "Add Permission for Zabbix User",
      "credentials": {
        "mySql": {
          "id": "QVNaqZe72wacdXCy",
          "name": "Zabbix MySQL DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users AS u\nJOIN (\n  SELECT userid\n  FROM users\n  WHERE username = 'user'\n) AS x ON x.userid = u.userid\nSET u.roleid = 2;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -4816,
        -1872
      ],
      "id": "2307ea6d-bc11-46a6-a5cd-7fae36dad9d2",
      "name": "Revoke Permission from Zabbix User",
      "credentials": {
        "mySql": {
          "id": "QVNaqZe72wacdXCy",
          "name": "Zabbix MySQL DB"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9a519fed-bfd5-4314-b9c4-2f2be21d4612"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "61067551-6d0c-4c34-bc79-3115e39dc73e",
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -6160,
        -1872
      ],
      "id": "473580a9-00a1-4880-9872-866cf33d02e5",
      "name": "Host Created?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "70dfd573-c056-4de8-a890-68182d73008f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4be8a9ab-73af-4c57-ab43-159c3b6b858c",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -8624,
        -1704
      ],
      "id": "1127f609-70a8-4f6b-901d-1ab8e44f77f8",
      "name": "Approved?"
    },
    {
      "parameters": {
        "options": {
          "delimiter": "=|"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -5264,
        -1872
      ],
      "id": "127ea6ea-2e25-4ec3-9da6-cc4957f3d020",
      "name": "CSV to JSON"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -9296,
        -1560
      ],
      "id": "68e5d5f3-dc9e-4b9f-bfb9-8931985d8d76",
      "name": "Loop Over Monitors"
    },
    {
      "parameters": {
        "command": "=rm -rf {{ $('Parent Workflow').item.json['fileName'] }}\nrm -rf {{ $('Parent Workflow').item.json['fileName'] }}*"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -4592,
        -1872
      ],
      "id": "520a318d-c3c5-4194-9d1b-2a6fc0e60f7d",
      "name": "Delete Runtime File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0c6f7dc3-aa34-4e24-9b29-f0b7a2c38972"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c29a7dce-6cc2-45ae-9979-c6de881e9f6c",
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -4592,
        -2064
      ],
      "id": "0d646d09-33c2-4e45-b1b7-1e1402e9224f",
      "name": "Item Created?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "0c6f7dc3-aa34-4e24-9b29-f0b7a2c38972"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c29a7dce-6cc2-45ae-9979-c6de881e9f6c",
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -4144,
        -2064
      ],
      "id": "fc2aa784-cbb5-463e-87f7-e5a80569a4d6",
      "name": "Username Macro Exists?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "0c6f7dc3-aa34-4e24-9b29-f0b7a2c38972"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c29a7dce-6cc2-45ae-9979-c6de881e9f6c",
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3472,
        -2064
      ],
      "id": "7fc29c36-fb31-4d93-913b-24f87f59ad1b",
      "name": "Password Macro Exists?"
    },
    {
      "parameters": {
        "fromEmail": "zabbix-admin@example.com",
        "toEmail": "={{ $('Parent Workflow').item.json['Email ID to send approval link'] }},zabbix-admin@example.com",
        "subject": "=Request Approved - {{ $workflow.name }} ({{ $workflow.id }}) [ {{ $('Parent Workflow').item.json['Application Name'] }} ({{ $('Parent Workflow').item.json['Application Alias Name'] }}) ({{ $('Parent Workflow').item.json['Application ASK ID'] }}) ]",
        "html": "={{ $('HTML Monitors list').item.json['stdout'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -8400,
        -1872
      ],
      "id": "5bebf8aa-8c16-4b7e-952b-f127435a084c",
      "name": "Approved",
      "webhookId": "97cad8ea-02a5-43a9-9bb1-0c3007920050",
      "credentials": {
        "smtp": {
          "id": "hlptozjprdl23nBh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "zabbix-admin@example.com",
        "toEmail": "={{ $('Parent Workflow').item.json['Email ID to send approval link'] }},zabbix-admin@example.com",
        "subject": "=Request Declined - {{ $workflow.name }} ({{ $workflow.id }}) [ {{ $('Parent Workflow').item.json['Application Name'] }} ({{ $('Parent Workflow').item.json['Application Alias Name'] }}) ({{ $('Parent Workflow').item.json['Application ASK ID'] }}) ]",
        "html": "={{ $('HTML Monitors list').item.json['stdout'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -8400,
        -1680
      ],
      "id": "60d0228d-57e6-49d1-bc17-c646f0e12d3d",
      "name": "Declined",
      "webhookId": "97cad8ea-02a5-43a9-9bb1-0c3007920050",
      "credentials": {
        "smtp": {
          "id": "hlptozjprdl23nBh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "922fa53b-4114-4dc9-a432-e54d3f658d2a",
              "name": "stdout",
              "value": "={{   String($('Parent Workflow')?.item?.json?.['Application Alias Name'] ?? '')     .replace(/[~!@#$%\\^&\\*\\()\\+=\\{\\}\\\\:;\\\"?\\/<>,`|\\[\\]']/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -7504,
        -1872
      ],
      "id": "65f3d3f8-f954-4e6a-97a0-670e0a230ddd",
      "name": "Exclude Special Characters"
    }
  ],
  "pinData": {},
  "connections": {
    "Create Template Group": {
      "main": [
        [
          {
            "node": "Create Host Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Host Group": {
      "main": [
        [
          {
            "node": "Exclude Special Characters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host Group ID": {
      "main": [
        [
          {
            "node": "Create Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Group ID": {
      "main": [
        [
          {
            "node": "Host Group ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template ID": {
      "main": [
        [
          {
            "node": "Create Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV": {
      "main": [
        [
          {
            "node": "CSV to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Revoke Permission from Zabbix User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parent Workflow": {
      "main": [
        [
          {
            "node": "Excel to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host ID": {
      "main": [
        [
          {
            "node": "Update Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Template": {
      "main": [
        [
          {
            "node": "Template ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Host": {
      "main": [
        [
          {
            "node": "Host Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Host": {
      "main": [
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Item": {
      "main": [
        [
          {
            "node": "Item Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Monitors list": {
      "main": [
        [
          {
            "node": "Email Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Username Macro ID": {
      "main": [
        [
          {
            "node": "Username Macro Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Macro ID": {
      "main": [
        [
          {
            "node": "Password Macro Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Username Macro": {
      "main": [
        [
          {
            "node": "Password Macro ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Password Macro": {
      "main": [
        [
          {
            "node": "Create Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Username Macro": {
      "main": [
        [
          {
            "node": "Password Macro ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Password Macro": {
      "main": [
        [
          {
            "node": "Create Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel to JSON": {
      "main": [
        [
          {
            "node": "Loop Over Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Monitors CSV File": {
      "main": [
        [
          {
            "node": "Loop Over Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Permission for Zabbix User": {
      "main": [
        [
          {
            "node": "Create Template Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revoke Permission from Zabbix User": {
      "main": [
        [
          {
            "node": "Delete Runtime File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host Created?": {
      "main": [
        [
          {
            "node": "Host ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV to JSON": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Monitors": {
      "main": [
        [
          {
            "node": "HTML Monitors list",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Monitors CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Created?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Username Macro ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Username Macro Exists?": {
      "main": [
        [
          {
            "node": "Update Username Macro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Username Macro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Macro Exists?": {
      "main": [
        [
          {
            "node": "Update Password Macro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Password Macro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved": {
      "main": [
        [
          {
            "node": "Add Permission for Zabbix User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exclude Special Characters": {
      "main": [
        [
          {
            "node": "Template Group ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "712024d0-84db-4392-9b0b-7a81e88abfdd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f9b7d8392fb9b22e1572f122d2199da1a316578c69792bb5ebd6447fbba818b"
  },
  "id": "3oCIzo1VrAd5342E",
  "tags": []
}