Sub Workflows/Zabbix - Add MySQL Monitors.json
{
  "name": "Zabbix - Add MySQL Monitors",
  "nodes": [
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"templategroup.create\",\n    \"params\": {\n        \"name\": \"DB/MySQL/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\"\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -42480,
        -2640
      ],
      "id": "6cdb30bf-7fa9-4999-b3bc-2db56711a955",
      "name": "Create Template Group",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n\t\"jsonrpc\": \"2.0\",\n\t\"method\": \"hostgroup.create\",\n\t\"params\": {\n\t\t\"name\": \"DB/MySQL/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\"\n\t},\n\t\"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -42256,
        -2640
      ],
      "id": "d0c5a89d-7d2e-4930-82bb-b5c2f55a447b",
      "name": "Create Host Group",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"hostgroup.get\",\n    \"params\": {\n      \"filter\": { \"name\": \"DB/MySQL/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\" },\n      \"output\": [ \"groupid\", \"name\" ]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -41584,
        -2640
      ],
      "id": "ba1eceb8-5a28-4bf4-b838-5d3530657f6a",
      "name": "Host Group ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"templategroup.get\",\n    \"params\": {\n      \"filter\": { \"name\": \"DB/MySQL/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\" },\n      \"output\": [ \"groupid\", \"name\" ]\n    },\n    \"id\": 1\n}\n",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -41808,
        -2640
      ],
      "id": "b56495cc-6f67-4c2b-af82-8247d55ed704",
      "name": "Template Group ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"template.get\",\n    \"params\": {\n      \"filter\": { \"host\": \"Example Template MySQL -{{ $('Exclude Special Characters').item.json.stdout }}\" },\n      \"output\": [\"templateid\", \"host\", \"name\"]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -41136,
        -2640
      ],
      "id": "aea87ba6-7bc3-4051-8ac1-26c29018836f",
      "name": "Template ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Parent Workflow').item.json['fileName'] }}.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -40016,
        -2640
      ],
      "id": "3ff4d572-82a3-42cf-bdd1-5255ef3ac6f4",
      "name": "Read CSV"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -39568,
        -2640
      ],
      "id": "001b8fd5-b85b-4951-a2f4-a7c0f5b3e1f4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -44272,
        -2328
      ],
      "id": "c09b4324-dab8-427f-b6a1-836dbba04bcf",
      "name": "Parent Workflow"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"host.get\",\n    \"params\": {\n      \"filter\": { \"host\": \"{{ $('Exclude Special Characters').item.json.stdout }}\" },\n      \"output\": [\"hostid\", \"host\", \"name\"]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -40464,
        -2736
      ],
      "id": "b347cb2c-501c-47b9-a8e4-6716edcf63b6",
      "name": "Host ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"template.create\",\n    \"params\": {\n      \"host\": \"Example Template MySQL -{{ $('Exclude Special Characters').item.json.stdout }}\",\n      \"name\": \"Example Template MySQL -{{ $('Exclude Special Characters').item.json.stdout }}\",\n      \"description\": \"{{ $('Parent Workflow').item.json['Application Name'] }}\",\n      \"groups\": [\n        { \"groupid\": \"{{ $('Template Group ID').item.json.result[0].groupid }}\" }\n      ],\n      \"tags\": [\n\t{ \"tag\": \"NODATA\", \"value\": \"YES\" },\n        { \"tag\": \"OBJECTCLASS\", \"value\": \"MYSQL\" },\n        { \"tag\": \"OBJECTPARAMETER\", \"value\": \"DB Status\" }\n      ]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -41360,
        -2640
      ],
      "id": "76329a73-21a2-47a3-854c-1478469c6204",
      "name": "Create Template",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "=\n{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.create\",\n  \"params\": {\n    \"host\": \"{{ $('Exclude Special Characters').item.json.stdout }}\",\n    \"status\": 1,\n    \"monitored_by\": 1,\n    \"proxyid\": 30774,\n    \"interfaces\": [{\n      \"type\": 1,\n      \"main\": 1,\n      \"useip\": 1,\n      \"ip\": \"{$NON_DMZ_PROXY_IP}\",\n      \"dns\": \"\",\n      \"port\": \"10050\"\n    }],\n    \"groups\": [{ \"groupid\": \"{{ $('Host Group ID').item.json.result[0].groupid }}\" }],\n    \"templates\": [{ \"templateid\": \"{{ $json.result[0].templateid }}\" }],\n    \"tags\": [{ \"tag\": \"APP\", \"value\": \"{{ $('Parent Workflow').item.json['Application Name'] }}\" }]\n  },\n  \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -40912,
        -2640
      ],
      "id": "0e48ef9a-7f05-4048-8771-9e6f728bbf41",
      "name": "Create Host",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\":\"2.0\",\n    \"method\":\"host.massadd\",\n    \"params\":{\n      \"hosts\":[{ \"hostid\": \"{{ $json.result[0].hostid }}\" }],\n      \"templates\":[{ \"templateid\": \"{{ $('Template ID').item.json.result[0].templateid }}\" }],\n      \"groups\": [{ \"groupid\": \"{{ $('Host Group ID').item.json.result[0].groupid }}\" }]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -40240,
        -2736
      ],
      "id": "a428435e-f676-4afa-85ba-a9e05eafed94",
      "name": "Update Host",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"item.create\",\n  \"params\": {\n    \"name\": \"{{ $json['Monitor Name'] }}\",\n    \"hostid\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n    \"key_\": \"db.odbc.select[{{ $json.HostUpper }}.{{ $json.DBUpper }}.Availability.Monitor,,\\\"Driver={$MYSQL.DRIVER};Server={{ $json['Host FQDN'] }};Port={{ $json.Port }};Database={{ $json.Database }}\\\"]\",\n    \"type\": 11,\n    \"value_type\": 3,\n    \"username\": \"{$MYSQL.USER.{{ $json.HostUpper }}.{{ $json.DBUpper }}}\",\n    \"password\": \"{$MYSQL.PASS.{{ $json.HostUpper }}.{{ $json.DBUpper }}}\",\n    \"params\": \"SELECT 1\",\n    \"delay\": \"{{ $json.CheckInterval }}m\",\n    \"status\": 0,\n    \"tags\": [\n      { \"tag\": \"Application\", \"value\": \"MySQL\" }\n    ]\n  },\n  \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -39344,
        -2832
      ],
      "id": "918849c5-a9bb-47e8-9803-8f8f16134c26",
      "name": "Create Item",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"trigger.create\",\n    \"params\": [{\n      \"description\": \"{{ $('Loop Over Items').item.json['Event Description'] }}\",\n      \"expression\": \"nodata(/{{ $('Template ID').item.json.result[0].name }}/db.odbc.select[{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}.Availability.Monitor,,\\\"Driver={$MYSQL.DRIVER};Server={{ $('Loop Over Items').item.json['Host FQDN'] }};Port={{ $('Loop Over Items').item.json.Port }};Database={{ $('Loop Over Items').item.json.Database }}\\\"],{{ $('Loop Over Items').item.json.CheckSeconds }}s)=1\",\n      \"priority\": \"{{ $('Loop Over Items').item.json.Severity }}\",\n      \"status\": 1,\n      \"comments\": \"{{ $('Loop Over Items').item.json['Event Description'] }}\",\n      \"tags\": [\n        {\"tag\": \"CATEGORY\",        \"value\": \"Application\"},\n        {\"tag\": \"DBNAME\",          \"value\": \"{{ $('Loop Over Items').item.json.Database }}\"},\n        {\"tag\": \"DOMAIN\",          \"value\": \"{{ $('Loop Over Items').item.json['Host FQDN'] }}\"},\n        {\"tag\": \"NODATA\",          \"value\": \"YES\"},\n        {\"tag\": \"OBJECTCLASS\",     \"value\": \"MySQL\"},\n        {\"tag\": \"OBJECTINSTANCE\",  \"value\": \"MySQL\"},\n        {\"tag\": \"OBJECTNAME\",      \"value\": \"\"},\n        {\"tag\": \"OBJECTPARAMETER\", \"value\": \"DB Status\"},\n        {\"tag\": \"TRIGGERID\",       \"value\": \"{TRIGGER.ID}\"},\n        {\"tag\": \"WORKGROUP\",       \"value\": \"{{ $('Loop Over Items').item.json.Workgroup }}\"}\n      ]\n    }],\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -37552,
        -2664
      ],
      "id": "48e15872-9555-412b-b5c4-bd9d957a8e4c",
      "name": "Create Trigger",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "fromEmail": "zabbix-admin@example.com",
        "toEmail": "={{ $('Parent Workflow').item.json['Email ID to send approval link'] }},zabbix-admin@example.com",
        "subject": "=Approval Required - {{ $workflow.name }} ({{ $workflow.id }}) [ {{ $('Parent Workflow').item.json['Application Name'] }} ({{ $('Parent Workflow').item.json['Application Alias Name'] }}) ({{ $('Parent Workflow').item.json['Application ASK ID'] }}) ]",
        "message": "={{ $('HTML Monitors list').item.json['stdout'] }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -43376,
        -2472
      ],
      "id": "ef6e667f-df7d-45e6-bb0a-6307d1cda723",
      "name": "Email Approval",
      "webhookId": "97cad8ea-02a5-43a9-9bb1-0c3007920050",
      "credentials": {
        "smtp": {
          "id": "hlptozjprdl23nBh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "command": "=awk -F'[|]' '\nBEGIN {\n    print \"<table border=\\\"1\\\">\"\n}\nNR==1 {\n    print \"  <thead><tr>\"\n    for (i=1; i<=NF; i++) {\n        if (i != 6 && i != 12 && i != 13 && i != 14) {\n            printf \"    <th>%s</th>\\n\", $i\n        }\n    }\n    print \"  </tr></thead>\"\n    print \"  <tbody>\"\n    next\n}\n{\n    print \"  <tr>\"\n    for (i=1; i<=NF; i++) {\n        if (i != 6 && i != 12 && i != 13 && i != 14) {\n            printf \"    <td>%s</td>\\n\", $i\n        }\n    }\n    print \"  </tr>\"\n}\nEND {\n    print \"  </tbody>\"\n    print \"</table>\"\n}' {{ $('Parent Workflow').item.json.fileName }}.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -43600,
        -2472
      ],
      "id": "98a2f94c-7270-4443-bb76-54a169c2d14d",
      "name": "HTML Monitors list",
      "executeOnce": true
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n \"jsonrpc\": \"2.0\",\n \"method\": \"usermacro.get\",\n \"params\": {\n   \"output\": [\"hostmacroid\"],\n   \"hostids\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n   \"filter\": {\n     \"macro\": \"{$MYSQL.USER.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\"\n   }\n },\n \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -38896,
        -2832
      ],
      "id": "c1a55e0a-3be5-4076-be9e-a45d70174dd2",
      "name": "Username Macro ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n \"jsonrpc\": \"2.0\",\n \"method\": \"usermacro.get\",\n \"params\": {\n   \"output\": [\"hostmacroid\"],\n   \"hostids\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n   \"filter\": {\n     \"macro\": \"{$MYSQL.PASS.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\"\n   }\n },\n \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -38224,
        -2832
      ],
      "id": "ed533319-19bd-4845-9f6a-7af7dec702c3",
      "name": "Password Macro ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.create\",\n    \"params\": {\n      \"hostid\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n      \"macro\": \"{$MYSQL.USER.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database User'] }}\",\n      \"type\": 0\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -38448,
        -2736
      ],
      "id": "e3f98cf5-271e-4722-90bd-358b55028ba5",
      "name": "Create Username Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.create\",\n    \"params\": {\n      \"hostid\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n      \"macro\": \"{$MYSQL.PASS.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database Password'] }}\",\n      \"type\": 1\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -37776,
        -2736
      ],
      "id": "9eb5c7d0-002a-448f-897c-51fa17448cba",
      "name": "Create Password Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.update\",\n    \"params\": {\n      \"hostmacroid\": \"{{ $json.result[0].hostmacroid }}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database User'] }}\",\n      \"type\": 0\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -38448,
        -2928
      ],
      "id": "1c0d8a47-4fb3-4a1a-b424-543a05b04c82",
      "name": "Update Username Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.update\",\n    \"params\": {\n      \"hostmacroid\": \"{{ $json.result[0].hostmacroid }}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database Password'] }}\",\n      \"type\": 1\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -37776,
        -2928
      ],
      "id": "1a44d332-ea54-4bb3-a124-9721185036fb",
      "name": "Update Password Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Monitor_Template_File",
        "options": {
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -44048,
        -2328
      ],
      "id": "8daabcfe-6f9c-4283-aca3-54bde0b2a7fe",
      "name": "Excel to JSON"
    },
    {
      "parameters": {
        "command": "=echo \"{{ $json.row[0] }}|{{ $json.row[1] }}|{{ $json.row[2] }}|{{ $json.row[3] }}|{{ $json.row[4] }}|{{ $json.row[5] }}|{{ $json.row[6] }}|{{ $json.row[7] }}|{{ $json.row[8] }}|{{ $json.row[9] }}|{{ $json.row[10] }}\" | awk -F'[|]' 'NR = 1 {\n    name        = $1\n    host        = $2\n    port        = $3\n    database    = $4\n    dbuser      = $5\n    dbpass      = $6\n    eventname   = $7\n    severity    = $8\n    interval    = $9\n    checks      = $10\n    workgroup   = $11\n\n    if (severity == \"Severity\") {\n        print \"Monitor Name|Host FQDN|Port|Database|Database User|Database Password|Event Description|Severity|CheckInterval|ConsecutiveChecks|Workgroup|CheckSeconds|HostUpper|DBUpper\"\n        next\n    }\n\n    # Decide NAME per original rules\n    if (name == \"\") {\n            item_name = \"MySQL \" database \" monitoring Status on \" host\n    } else {\n        item_name = name\n    }\n\n    # If workgroup is null, then print empty workgroup name\n    if (workgroup == \"\")\n            workgroup = \"\"\n\n    # If eventname is null, then define eventname\n    if (eventname == \"\")\n            eventname = \"MySQL DB \" database \" is not available on host \" host\n\n    checksecs = interval * checks * 60\n\n    # Derive short host name (part before the first dot)\n    short_host = host\n    sub(/\\..*$/, \"\", short_host)\n\n    # Convert database and short_host to uppercase for output\n    db_upper = toupper(database)\n    host_upper = toupper(short_host)\n\n    print item_name \"|\" host \"|\" port \"|\" database \"|\" dbuser \"|\" dbpass \"|\" eventname \"|\" severity \"|\" interval \"|\" checks \"|\" workgroup \"|\" checksecs \"|\" host_upper \"|\" db_upper\n}' >> {{ $('Parent Workflow').item.json.fileName }}.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -43600,
        -2280
      ],
      "id": "dc2f2976-7a2e-4e7a-8ca5-5842e35d4cd0",
      "name": "Create Monitors CSV File"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users AS u\nJOIN (\n  SELECT userid\n  FROM users\n  WHERE username = 'user'\n) AS x ON x.userid = u.userid\nSET u.roleid = 3;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -42704,
        -2640
      ],
      "id": "0ffaab6a-85a7-462e-bf0d-75b72ba04d4a",
      "name": "Add Permission for Zabbix User",
      "credentials": {
        "mySql": {
          "id": "QVNaqZe72wacdXCy",
          "name": "Zabbix MySQL DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users AS u\nJOIN (\n  SELECT userid\n  FROM users\n  WHERE username = 'user'\n) AS x ON x.userid = u.userid\nSET u.roleid = 2;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -39344,
        -2640
      ],
      "id": "18bb51c2-19ce-466a-94a9-362971d850df",
      "name": "Revoke Permission from Zabbix User",
      "credentials": {
        "mySql": {
          "id": "QVNaqZe72wacdXCy",
          "name": "Zabbix MySQL DB"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9a519fed-bfd5-4314-b9c4-2f2be21d4612"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "61067551-6d0c-4c34-bc79-3115e39dc73e",
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -40688,
        -2640
      ],
      "id": "acc19d22-69db-499b-b220-ce5e196e6794",
      "name": "Host Created?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "70dfd573-c056-4de8-a890-68182d73008f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4be8a9ab-73af-4c57-ab43-159c3b6b858c",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -43152,
        -2472
      ],
      "id": "ac8e3b31-1fd9-4d67-bfc7-e0442e303a24",
      "name": "Approved?"
    },
    {
      "parameters": {
        "options": {
          "delimiter": "=|"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -39792,
        -2640
      ],
      "id": "30969f64-4c4f-4a47-875a-53e4d827b54b",
      "name": "CSV to JSON"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -43824,
        -2328
      ],
      "id": "26951e1c-020c-4029-aff1-ace0a61abbef",
      "name": "Loop Over Monitors"
    },
    {
      "parameters": {
        "command": "=rm -rf {{ $('Parent Workflow').item.json['fileName'] }}\nrm -rf {{ $('Parent Workflow').item.json['fileName'] }}*"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -39120,
        -2640
      ],
      "id": "0d2a5b53-6b38-4c55-bfc8-c55fdd522bd1",
      "name": "Delete Runtime File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0c6f7dc3-aa34-4e24-9b29-f0b7a2c38972"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c29a7dce-6cc2-45ae-9979-c6de881e9f6c",
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -39120,
        -2832
      ],
      "id": "578555d5-93ae-44f1-8776-b9c940a6994c",
      "name": "Item Created?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "0c6f7dc3-aa34-4e24-9b29-f0b7a2c38972"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c29a7dce-6cc2-45ae-9979-c6de881e9f6c",
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -38672,
        -2832
      ],
      "id": "4912b627-a49f-4bab-9f39-88191470b0ce",
      "name": "Username Macro Exists?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "0c6f7dc3-aa34-4e24-9b29-f0b7a2c38972"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c29a7dce-6cc2-45ae-9979-c6de881e9f6c",
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -38000,
        -2832
      ],
      "id": "739b7d41-45ed-46b6-bb3c-ffa9b2f745b2",
      "name": "Password Macro Exists?"
    },
    {
      "parameters": {
        "fromEmail": "zabbix-admin@example.com",
        "toEmail": "={{ $('Parent Workflow').item.json['Email ID to send approval link'] }},zabbix-admin@example.com",
        "subject": "=Request Approved - {{ $workflow.name }} ({{ $workflow.id }}) [ {{ $('Parent Workflow').item.json['Application Name'] }} ({{ $('Parent Workflow').item.json['Application Alias Name'] }}) ({{ $('Parent Workflow').item.json['Application ASK ID'] }}) ]",
        "html": "={{ $('HTML Monitors list').item.json['stdout'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -42928,
        -2640
      ],
      "id": "fde903dc-f9d7-49b2-a7fd-3cfe94dec8cb",
      "name": "Approved",
      "webhookId": "97cad8ea-02a5-43a9-9bb1-0c3007920050",
      "credentials": {
        "smtp": {
          "id": "hlptozjprdl23nBh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "zabbix-admin@example.com",
        "toEmail": "={{ $('Parent Workflow').item.json['Email ID to send approval link'] }},zabbix-admin@example.com",
        "subject": "=Request Declined - {{ $workflow.name }} ({{ $workflow.id }}) [ {{ $('Parent Workflow').item.json['Application Name'] }} ({{ $('Parent Workflow').item.json['Application Alias Name'] }}) ({{ $('Parent Workflow').item.json['Application ASK ID'] }}) ]",
        "html": "={{ $('HTML Monitors list').item.json['stdout'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -42928,
        -2448
      ],
      "id": "769b428e-b940-442a-80e8-ee69279dd28c",
      "name": "Declined",
      "webhookId": "97cad8ea-02a5-43a9-9bb1-0c3007920050",
      "credentials": {
        "smtp": {
          "id": "hlptozjprdl23nBh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "922fa53b-4114-4dc9-a432-e54d3f658d2a",
              "name": "stdout",
              "value": "={{   String($('Parent Workflow')?.item?.json?.['Application Alias Name'] ?? '')     .replace(/[~!@#$%\\^&\\*\\()\\+=\\{\\}\\\\:;\\\"?\\/<>,`|\\[\\]']/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -42032,
        -2640
      ],
      "id": "32a4ba71-90e5-4623-8602-fbff212b1c04",
      "name": "Exclude Special Characters"
    }
  ],
  "pinData": {},
  "connections": {
    "Create Template Group": {
      "main": [
        [
          {
            "node": "Create Host Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Host Group": {
      "main": [
        [
          {
            "node": "Exclude Special Characters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host Group ID": {
      "main": [
        [
          {
            "node": "Create Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Group ID": {
      "main": [
        [
          {
            "node": "Host Group ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template ID": {
      "main": [
        [
          {
            "node": "Create Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV": {
      "main": [
        [
          {
            "node": "CSV to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Revoke Permission from Zabbix User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parent Workflow": {
      "main": [
        [
          {
            "node": "Excel to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host ID": {
      "main": [
        [
          {
            "node": "Update Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Template": {
      "main": [
        [
          {
            "node": "Template ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Host": {
      "main": [
        [
          {
            "node": "Host Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Host": {
      "main": [
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Item": {
      "main": [
        [
          {
            "node": "Item Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Monitors list": {
      "main": [
        [
          {
            "node": "Email Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Username Macro ID": {
      "main": [
        [
          {
            "node": "Username Macro Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Macro ID": {
      "main": [
        [
          {
            "node": "Password Macro Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Username Macro": {
      "main": [
        [
          {
            "node": "Password Macro ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Username Macro": {
      "main": [
        [
          {
            "node": "Password Macro ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Password Macro": {
      "main": [
        [
          {
            "node": "Create Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Password Macro": {
      "main": [
        [
          {
            "node": "Create Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel to JSON": {
      "main": [
        [
          {
            "node": "Loop Over Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Monitors CSV File": {
      "main": [
        [
          {
            "node": "Loop Over Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Permission for Zabbix User": {
      "main": [
        [
          {
            "node": "Create Template Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revoke Permission from Zabbix User": {
      "main": [
        [
          {
            "node": "Delete Runtime File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host Created?": {
      "main": [
        [
          {
            "node": "Host ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV to JSON": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Monitors": {
      "main": [
        [
          {
            "node": "HTML Monitors list",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Monitors CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Created?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Username Macro ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Username Macro Exists?": {
      "main": [
        [
          {
            "node": "Update Username Macro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Username Macro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Macro Exists?": {
      "main": [
        [
          {
            "node": "Update Password Macro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Password Macro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved": {
      "main": [
        [
          {
            "node": "Add Permission for Zabbix User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Declined": {
      "main": [
        []
      ]
    },
    "Exclude Special Characters": {
      "main": [
        [
          {
            "node": "Template Group ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4c9ecbc5-65ab-49fe-be14-315de35e1842",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f9b7d8392fb9b22e1572f122d2199da1a316578c69792bb5ebd6447fbba818b"
  },
  "id": "q6bomJ7EJhP2sPxx",
  "tags": []
}