Sub Workflows/Zabbix - Add Oracle Monitors.json
{
  "name": "Zabbix - Add Oracle Monitors",
  "nodes": [
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"templategroup.create\",\n    \"params\": {\n        \"name\": \"DB/ORACLE/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\"\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7040,
        -1952
      ],
      "id": "395c3b96-7b84-492c-95e5-439cc8364440",
      "name": "Create Template Group",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n\t\"jsonrpc\": \"2.0\",\n\t\"method\": \"hostgroup.create\",\n\t\"params\": {\n\t\t\"name\": \"DB/ORACLE/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\"\n\t},\n\t\"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6816,
        -1952
      ],
      "id": "18e7c801-a60d-4d6e-ac27-39a2022f6866",
      "name": "Create Host Group",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"hostgroup.get\",\n    \"params\": {\n      \"filter\": { \"name\": \"DB/ORACLE/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\" },\n      \"output\": [ \"groupid\", \"name\" ]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6144,
        -1952
      ],
      "id": "41dad5e2-06aa-4996-b13d-afe89abc427c",
      "name": "Host Group ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"templategroup.get\",\n    \"params\": {\n      \"filter\": { \"name\": \"DB/ORACLE/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\" },\n      \"output\": [ \"groupid\", \"name\" ]\n    },\n    \"id\": 1\n}\n",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6368,
        -1952
      ],
      "id": "5457bd54-7266-488e-b7d1-119e11c2cbd4",
      "name": "Template Group ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"template.get\",\n    \"params\": {\n      \"filter\": { \"host\": \"Example Template ORACLE -{{ $('Exclude Special Characters').item.json.stdout }}\" },\n      \"output\": [\"templateid\", \"host\", \"name\"]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5696,
        -1952
      ],
      "id": "e34d23fa-b8ed-4e22-9cfd-1a81ec318bd8",
      "name": "Template ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Parent Workflow').item.json['fileName'] }}.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -4576,
        -1952
      ],
      "id": "06e9110e-d48b-45d3-b512-73ac33c19389",
      "name": "Read CSV"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -4128,
        -1952
      ],
      "id": "d5429316-3ff1-4eb9-8783-2e43df77e2e1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -8832,
        -1640
      ],
      "id": "01bc61a0-b1c6-423b-8fcb-d2e0ac3e9e4f",
      "name": "Parent Workflow"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"host.get\",\n    \"params\": {\n      \"filter\": { \"host\": \"{{ $('Exclude Special Characters').item.json.stdout }}\" },\n      \"output\": [\"hostid\", \"host\", \"name\"]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5024,
        -2048
      ],
      "id": "2b3f6a45-bedd-49f3-bd4f-8a3ecdce18e7",
      "name": "Host ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"template.create\",\n    \"params\": {\n      \"host\": \"Example Template ORACLE -{{ $('Exclude Special Characters').item.json.stdout }}\",\n      \"name\": \"Example Template ORACLE -{{ $('Exclude Special Characters').item.json.stdout }}\",\n      \"description\": \"{{ $('Parent Workflow').item.json['Application Name'] }}\",\n      \"groups\": [\n        { \"groupid\": \"{{ $('Template Group ID').item.json.result[0].groupid }}\" }\n      ],\n      \"tags\": [\n\t{ \"tag\": \"NODATA\", \"value\": \"YES\" },\n        { \"tag\": \"OBJECTCLASS\", \"value\": \"ORACLE\" },\n        { \"tag\": \"OBJECTPARAMETER\", \"value\": \"DB Status\" }\n      ]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5920,
        -1952
      ],
      "id": "ea90149b-3650-48fd-8438-a31d3de480a5",
      "name": "Create Template",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "=\n{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.create\",\n  \"params\": {\n    \"host\": \"{{ $('Exclude Special Characters').item.json.stdout }}\",\n    \"status\": 1,\n    \"monitored_by\": 1,\n    \"proxyid\": 30774,\n    \"interfaces\": [{\n      \"type\": 1,\n      \"main\": 1,\n      \"useip\": 1,\n      \"ip\": \"{$NON_DMZ_PROXY_IP}\",\n      \"dns\": \"\",\n      \"port\": \"10050\"\n    }],\n    \"groups\": [{ \"groupid\": \"{{ $('Host Group ID').item.json.result[0].groupid }}\" }],\n    \"templates\": [{ \"templateid\": \"{{ $json.result[0].templateid }}\" }],\n    \"tags\": [{ \"tag\": \"APP\", \"value\": \"{{ $('Parent Workflow').item.json['Application Name'] }}\" }]\n  },\n  \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5472,
        -1952
      ],
      "id": "7e7b357d-b7d5-4965-a801-d27e65fa84e9",
      "name": "Create Host",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\":\"2.0\",\n    \"method\":\"host.massadd\",\n    \"params\":{\n      \"hosts\":[{ \"hostid\": \"{{ $json.result[0].hostid }}\" }],\n      \"templates\":[{ \"templateid\": \"{{ $('Template ID').item.json.result[0].templateid }}\" }],\n      \"groups\": [{ \"groupid\": \"{{ $('Host Group ID').item.json.result[0].groupid }}\" }]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4800,
        -2048
      ],
      "id": "76edd3f5-67db-4e40-bf1b-4198f8940c8f",
      "name": "Update Host",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"item.create\",\n  \"params\": {\n    \"name\": \"{{ $json['Monitor Name'] }}\",\n    \"hostid\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n    \"key_\": \"db.odbc.select[{{ $json.HostUpper }}.{{ $json.DBUpper }}.Availability.Monitor,,\\\"Driver={$ORACLE.DRIVER};DBQ=//{{ $json['Host FQDN'] }}:{{ $json.Port }}/{{ $json.Database }};UserID={$ORACLE.USER.{{ $json.HostUpper }}.{{ $json.DBUpper }}};Password={$ORACLE.PASS.{{ $json.HostUpper }}.{{ $json.DBUpper }}}\\\"]\",\n    \"type\": 11,\n    \"value_type\": 3,\n    \"username\": \"{$ORACLE.USER.{{ $json.HostUpper }}.{{ $json.DBUpper }}}\",\n    \"password\": \"{$ORACLE.PASS.{{ $json.HostUpper }}.{{ $json.DBUpper }}}\",\n    \"params\": \"SELECT 1 FROM DUAL\",\n    \"delay\": \"{{ $json.CheckInterval }}m\",\n    \"status\": 0,\n    \"tags\": [\n      { \"tag\": \"Application\", \"value\": \"ORACLE\" }\n    ]\n  },\n  \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3904,
        -2144
      ],
      "id": "17f0a936-dff6-4c73-85dd-7c2184623458",
      "name": "Create Item",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"trigger.create\",\n    \"params\": [{\n      \"description\": \"{{ $('Loop Over Items').item.json['Event Description'] }}\",\n      \"expression\": \"nodata(/{{ $('Template ID').item.json.result[0].name }}/db.odbc.select[{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}.Availability.Monitor,,\\\"Driver={$ORACLE.DRIVER};DBQ=//{{ $('Loop Over Items').item.json['Host FQDN'] }}:{{ $('Loop Over Items').item.json.Port }}/{{ $('Loop Over Items').item.json.Database }};UserID={$ORACLE.USER.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}};Password={$ORACLE.PASS.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\\\"],{{ $('Loop Over Items').item.json.CheckSeconds }}s)=1\",\n      \"priority\": \"{{ $('Loop Over Items').item.json.Severity }}\",\n      \"status\": 1,\n      \"comments\": \"{{ $('Loop Over Items').item.json['Event Description'] }}\",\n      \"tags\": [\n        {\"tag\": \"CATEGORY\",        \"value\": \"Application\"},\n        {\"tag\": \"DBNAME\",          \"value\": \"{{ $('Loop Over Items').item.json.Database }}\"},\n        {\"tag\": \"DOMAIN\",          \"value\": \"{{ $('Loop Over Items').item.json['Host FQDN'] }}\"},\n        {\"tag\": \"NODATA\",          \"value\": \"YES\"},\n        {\"tag\": \"OBJECTCLASS\",     \"value\": \"ORACLE\"},\n        {\"tag\": \"OBJECTINSTANCE\",  \"value\": \"ORACLE\"},\n        {\"tag\": \"OBJECTNAME\",      \"value\": \"\"},\n        {\"tag\": \"OBJECTPARAMETER\", \"value\": \"DB Status\"},\n        {\"tag\": \"TRIGGERID\",       \"value\": \"{TRIGGER.ID}\"},\n        {\"tag\": \"WORKGROUP\",       \"value\": \"{{ $('Loop Over Items').item.json.Workgroup }}\"}\n      ]\n    }],\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2112,
        -1976
      ],
      "id": "58657561-8311-40d2-b45b-696f22c9a73f",
      "name": "Create Trigger",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "fromEmail": "zabbix-admin@example.com",
        "toEmail": "={{ $('Parent Workflow').item.json['Email ID to send approval link'] }},zabbix-admin@example.com",
        "subject": "=Approval Required - {{ $workflow.name }} ({{ $workflow.id }}) [ {{ $('Parent Workflow').item.json['Application Name'] }} ({{ $('Parent Workflow').item.json['Application Alias Name'] }}) ({{ $('Parent Workflow').item.json['Application ASK ID'] }}) ]",
        "message": "={{ $('HTML Monitors list').item.json['stdout'] }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -7936,
        -1784
      ],
      "id": "242fe305-b756-4d7d-aa78-87d345c3a2d1",
      "name": "Email Approval",
      "webhookId": "97cad8ea-02a5-43a9-9bb1-0c3007920050",
      "credentials": {
        "smtp": {
          "id": "hlptozjprdl23nBh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "command": "=awk -F'[|]' '\nBEGIN {\n    print \"<table border=\\\"1\\\">\"\n}\nNR==1 {\n    print \"  <thead><tr>\"\n    for (i=1; i<=NF; i++) {\n        if (i != 6 && i != 12 && i != 13 && i != 14) {\n            printf \"    <th>%s</th>\\n\", $i\n        }\n    }\n    print \"  </tr></thead>\"\n    print \"  <tbody>\"\n    next\n}\n{\n    print \"  <tr>\"\n    for (i=1; i<=NF; i++) {\n        if (i != 6 && i != 12 && i != 13 && i != 14) {\n            printf \"    <td>%s</td>\\n\", $i\n        }\n    }\n    print \"  </tr>\"\n}\nEND {\n    print \"  </tbody>\"\n    print \"</table>\"\n}' {{ $('Parent Workflow').item.json.fileName }}.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -8160,
        -1784
      ],
      "id": "ba7ef999-95f9-4a4e-ac70-fb8baef78cdf",
      "name": "HTML Monitors list",
      "executeOnce": true
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n \"jsonrpc\": \"2.0\",\n \"method\": \"usermacro.get\",\n \"params\": {\n   \"output\": [\"hostmacroid\"],\n   \"hostids\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n   \"filter\": {\n     \"macro\": \"{$ORACLE.USER.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\"\n   }\n },\n \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3456,
        -2144
      ],
      "id": "ac412a04-cdf4-4b5b-9f5e-ab1705fb251e",
      "name": "Username Macro ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n \"jsonrpc\": \"2.0\",\n \"method\": \"usermacro.get\",\n \"params\": {\n   \"output\": [\"hostmacroid\"],\n   \"hostids\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n   \"filter\": {\n     \"macro\": \"{$PGSQL.PASS.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\"\n   }\n },\n \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2784,
        -2144
      ],
      "id": "aa99c19b-f5b2-4327-be80-ba6e3437c153",
      "name": "Password Macro ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.create\",\n    \"params\": {\n      \"hostid\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n      \"macro\": \"{$ORACLE.USER.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database User'] }}\",\n      \"type\": 0\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3008,
        -2048
      ],
      "id": "88c998b1-d000-426b-954f-e2ba05c1f875",
      "name": "Create Username Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.create\",\n    \"params\": {\n      \"hostid\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n      \"macro\": \"{$ORACLE.PASS.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database Password'] }}\",\n      \"type\": 1\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2336,
        -2048
      ],
      "id": "c3947cf8-6dc1-41b5-bc24-99ddd8a6dc89",
      "name": "Create Password Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.update\",\n    \"params\": {\n      \"hostmacroid\": \"{{ $json.result[0].hostmacroid }}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database User'] }}\",\n      \"type\": 0\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -3008,
        -2240
      ],
      "id": "88d4af9b-64d7-4ca6-9737-9aafb73758da",
      "name": "Update Username Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.update\",\n    \"params\": {\n      \"hostmacroid\": \"{{ $json.result[0].hostmacroid }}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database Password'] }}\",\n      \"type\": 1\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -2336,
        -2240
      ],
      "id": "09c53e9f-c84e-4e30-85b3-d67608643357",
      "name": "Update Password Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Monitor_Template_File",
        "options": {
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -8608,
        -1640
      ],
      "id": "fa82d6be-c589-4dd2-8dbf-42e44e42494f",
      "name": "Excel to JSON"
    },
    {
      "parameters": {
        "command": "=echo \"{{ $json.row[0] }}|{{ $json.row[1] }}|{{ $json.row[2] }}|{{ $json.row[3] }}|{{ $json.row[4] }}|{{ $json.row[5] }}|{{ $json.row[6] }}|{{ $json.row[7] }}|{{ $json.row[8] }}|{{ $json.row[9] }}|{{ $json.row[10] }}\" | awk -F'[|]' 'NR = 1 {\n    name        = $1\n    host        = $2\n    port        = $3\n    database    = $4\n    dbuser      = $5\n    dbpass      = $6\n    eventname   = $7\n    severity    = $8\n    interval    = $9\n    checks      = $10\n    workgroup   = $11\n\n    if (severity == \"Severity\") {\n        print \"Monitor Name|Host FQDN|Port|Database|Database User|Database Password|Event Description|Severity|CheckInterval|ConsecutiveChecks|Workgroup|CheckSeconds|HostUpper|DBUpper\"\n        next\n    }\n\n    # Decide NAME per original rules\n    if (name == \"\") {\n            item_name = \"ORACLE \" database \" monitoring Status on \" host\n    } else {\n        item_name = name\n    }\n\n    # If workgroup is null, then print empty workgroup name\n    if (workgroup == \"\")\n            workgroup = \"\"\n\n    # If eventname is null, then define eventname\n    if (eventname == \"\")\n            eventname = \"ORACLE DB \" database \" is not available on host \" host\n\n    checksecs = interval * checks * 60\n\n    # Derive short host name (part before the first dot)\n    short_host = host\n    sub(/\\..*$/, \"\", short_host)\n\n    # Convert database and short_host to uppercase for output\n    db_upper = toupper(database)\n    host_upper = toupper(short_host)\n\n    print item_name \"|\" host \"|\" port \"|\" database \"|\" dbuser \"|\" dbpass \"|\" eventname \"|\" severity \"|\" interval \"|\" checks \"|\" workgroup \"|\" checksecs \"|\" host_upper \"|\" db_upper\n}' >> {{ $('Parent Workflow').item.json.fileName }}.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -8160,
        -1592
      ],
      "id": "20b5957a-4117-46fa-b51c-930240629cca",
      "name": "Create Monitors CSV File"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users AS u\nJOIN (\n  SELECT userid\n  FROM users\n  WHERE username = 'user'\n) AS x ON x.userid = u.userid\nSET u.roleid = 3;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -7264,
        -1952
      ],
      "id": "e95eba24-5206-4833-872d-3829695375e5",
      "name": "Add Permission for Zabbix User",
      "credentials": {
        "mySql": {
          "id": "QVNaqZe72wacdXCy",
          "name": "Zabbix MySQL DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users AS u\nJOIN (\n  SELECT userid\n  FROM users\n  WHERE username = 'user'\n) AS x ON x.userid = u.userid\nSET u.roleid = 2;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -3904,
        -1952
      ],
      "id": "f291b092-aa66-4e38-8e0a-213fc7303b63",
      "name": "Revoke Permission from Zabbix User",
      "credentials": {
        "mySql": {
          "id": "QVNaqZe72wacdXCy",
          "name": "Zabbix MySQL DB"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9a519fed-bfd5-4314-b9c4-2f2be21d4612"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "61067551-6d0c-4c34-bc79-3115e39dc73e",
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -5248,
        -1952
      ],
      "id": "63117455-c7d4-43b9-aa89-20a00e0fd96b",
      "name": "Host Created?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "70dfd573-c056-4de8-a890-68182d73008f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4be8a9ab-73af-4c57-ab43-159c3b6b858c",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -7712,
        -1784
      ],
      "id": "3427c4a5-a013-4a08-b6a5-bb52b550679a",
      "name": "Approved?"
    },
    {
      "parameters": {
        "options": {
          "delimiter": "=|"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -4352,
        -1952
      ],
      "id": "c0e2ceef-a4f0-45b6-a100-4b3b5c77a508",
      "name": "CSV to JSON"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -8384,
        -1640
      ],
      "id": "808b209e-da2f-4d0b-9d4e-039dacf41f52",
      "name": "Loop Over Monitors"
    },
    {
      "parameters": {
        "command": "=rm -rf {{ $('Parent Workflow').item.json['fileName'] }}\nrm -rf {{ $('Parent Workflow').item.json['fileName'] }}*"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -3680,
        -1952
      ],
      "id": "f69c2b5f-dbc7-4bb9-a0e0-300431f48e0e",
      "name": "Delete Runtime File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0c6f7dc3-aa34-4e24-9b29-f0b7a2c38972"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c29a7dce-6cc2-45ae-9979-c6de881e9f6c",
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3680,
        -2144
      ],
      "id": "ccc54847-2496-4535-88f1-32ab78270174",
      "name": "Item Created?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "0c6f7dc3-aa34-4e24-9b29-f0b7a2c38972"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c29a7dce-6cc2-45ae-9979-c6de881e9f6c",
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3232,
        -2144
      ],
      "id": "fb91395b-f3f8-4a99-8b71-ae5d7e311302",
      "name": "Username Macro Exists?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "0c6f7dc3-aa34-4e24-9b29-f0b7a2c38972"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c29a7dce-6cc2-45ae-9979-c6de881e9f6c",
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -2560,
        -2144
      ],
      "id": "8456d410-9ff6-4fa4-b440-9f446166bcdd",
      "name": "Password Macro Exists?"
    },
    {
      "parameters": {
        "fromEmail": "zabbix-admin@example.com",
        "toEmail": "={{ $('Parent Workflow').item.json['Email ID to send approval link'] }},zabbix-admin@example.com",
        "subject": "=Request Approved - {{ $workflow.name }} ({{ $workflow.id }}) [ {{ $('Parent Workflow').item.json['Application Name'] }} ({{ $('Parent Workflow').item.json['Application Alias Name'] }}) ({{ $('Parent Workflow').item.json['Application ASK ID'] }}) ]",
        "html": "={{ $('HTML Monitors list').item.json['stdout'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -7488,
        -1952
      ],
      "id": "01883986-73ec-43f9-9326-846088f1fcaa",
      "name": "Approved",
      "webhookId": "97cad8ea-02a5-43a9-9bb1-0c3007920050",
      "credentials": {
        "smtp": {
          "id": "hlptozjprdl23nBh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "zabbix-admin@example.com",
        "toEmail": "={{ $('Parent Workflow').item.json['Email ID to send approval link'] }},zabbix-admin@example.com",
        "subject": "=Request Declined - {{ $workflow.name }} ({{ $workflow.id }}) [ {{ $('Parent Workflow').item.json['Application Name'] }} ({{ $('Parent Workflow').item.json['Application Alias Name'] }}) ({{ $('Parent Workflow').item.json['Application ASK ID'] }}) ]",
        "html": "={{ $('HTML Monitors list').item.json['stdout'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -7488,
        -1760
      ],
      "id": "0557c39e-3ab0-4da7-9f1a-7d9002154d8f",
      "name": "Declined",
      "webhookId": "97cad8ea-02a5-43a9-9bb1-0c3007920050",
      "credentials": {
        "smtp": {
          "id": "hlptozjprdl23nBh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "922fa53b-4114-4dc9-a432-e54d3f658d2a",
              "name": "stdout",
              "value": "={{   String($('Parent Workflow')?.item?.json?.['Application Alias Name'] ?? '')     .replace(/[~!@#$%\\^&\\*\\()\\+=\\{\\}\\\\:;\\\"?\\/<>,`|\\[\\]']/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6592,
        -1952
      ],
      "id": "d8f91439-4540-41a3-855b-2d3752417cd6",
      "name": "Exclude Special Characters"
    }
  ],
  "pinData": {},
  "connections": {
    "Create Template Group": {
      "main": [
        [
          {
            "node": "Create Host Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Host Group": {
      "main": [
        [
          {
            "node": "Exclude Special Characters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host Group ID": {
      "main": [
        [
          {
            "node": "Create Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Group ID": {
      "main": [
        [
          {
            "node": "Host Group ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template ID": {
      "main": [
        [
          {
            "node": "Create Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV": {
      "main": [
        [
          {
            "node": "CSV to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Revoke Permission from Zabbix User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parent Workflow": {
      "main": [
        [
          {
            "node": "Excel to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host ID": {
      "main": [
        [
          {
            "node": "Update Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Template": {
      "main": [
        [
          {
            "node": "Template ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Host": {
      "main": [
        [
          {
            "node": "Host Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Host": {
      "main": [
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Item": {
      "main": [
        [
          {
            "node": "Item Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Monitors list": {
      "main": [
        [
          {
            "node": "Email Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Username Macro ID": {
      "main": [
        [
          {
            "node": "Username Macro Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Macro ID": {
      "main": [
        [
          {
            "node": "Password Macro Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Username Macro": {
      "main": [
        [
          {
            "node": "Password Macro ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Password Macro": {
      "main": [
        [
          {
            "node": "Create Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Username Macro": {
      "main": [
        [
          {
            "node": "Password Macro ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Password Macro": {
      "main": [
        [
          {
            "node": "Create Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel to JSON": {
      "main": [
        [
          {
            "node": "Loop Over Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Monitors CSV File": {
      "main": [
        [
          {
            "node": "Loop Over Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Permission for Zabbix User": {
      "main": [
        [
          {
            "node": "Create Template Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revoke Permission from Zabbix User": {
      "main": [
        [
          {
            "node": "Delete Runtime File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host Created?": {
      "main": [
        [
          {
            "node": "Host ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV to JSON": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Monitors": {
      "main": [
        [
          {
            "node": "HTML Monitors list",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Monitors CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Created?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Username Macro ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Username Macro Exists?": {
      "main": [
        [
          {
            "node": "Update Username Macro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Username Macro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Macro Exists?": {
      "main": [
        [
          {
            "node": "Update Password Macro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Password Macro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved": {
      "main": [
        [
          {
            "node": "Add Permission for Zabbix User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exclude Special Characters": {
      "main": [
        [
          {
            "node": "Template Group ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9f458c2d-95e4-47d8-9caa-1010da99e4cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f9b7d8392fb9b22e1572f122d2199da1a316578c69792bb5ebd6447fbba818b"
  },
  "id": "zZ3Bin1WHzQ1cL7Q",
  "tags": []
}