Sub Workflows/Zabbix - Add MSSQL Monitors.json
{
  "name": "Zabbix - Add MSSQL Monitors",
  "nodes": [
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n \"jsonrpc\": \"2.0\",\n \"method\": \"usermacro.get\",\n \"params\": {\n   \"output\": [\"hostmacroid\"],\n   \"hostids\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n   \"filter\": {\n     \"macro\": \"{$MSSQL.USER.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\"\n   }\n },\n \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5792,
        -1808
      ],
      "id": "ba2905ba-002e-43bd-b9fb-da9bd494712e",
      "name": "Username Macro ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n \"jsonrpc\": \"2.0\",\n \"method\": \"usermacro.get\",\n \"params\": {\n   \"output\": [\"hostmacroid\"],\n   \"hostids\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n   \"filter\": {\n     \"macro\": \"{$MSSQL.PASS.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\"\n   }\n },\n \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5120,
        -1808
      ],
      "id": "f62e8f40-cba3-4f96-94f5-8e09819cda47",
      "name": "Password Macro ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.create\",\n    \"params\": {\n      \"hostid\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n      \"macro\": \"{$MSSQL.USER.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database User'] }}\",\n      \"type\": 0\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5344,
        -1712
      ],
      "id": "5378348b-81db-4edd-978e-408340897919",
      "name": "Create Username Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.create\",\n    \"params\": {\n      \"hostid\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n      \"macro\": \"{$MSSQL.PASS.{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database Password'] }}\",\n      \"type\": 1\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4672,
        -1712
      ],
      "id": "f7bf3dd8-2e38-45d5-ad83-35086d957e47",
      "name": "Create Password Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.update\",\n    \"params\": {\n      \"hostmacroid\": \"{{ $json.result[0].hostmacroid }}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database User'] }}\",\n      \"type\": 0\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5344,
        -1904
      ],
      "id": "f02646ac-23c0-4bee-b074-adcbdede2802",
      "name": "Update Username Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"usermacro.update\",\n    \"params\": {\n      \"hostmacroid\": \"{{ $json.result[0].hostmacroid }}\",\n      \"value\": \"{{ $('Loop Over Items').item.json['Database Password'] }}\",\n      \"type\": 1\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4672,
        -1904
      ],
      "id": "743e07d8-2842-40ae-a902-caaaca27e567",
      "name": "Update Password Macro",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "Monitor_Template_File",
        "options": {
          "headerRow": false
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -10944,
        -1304
      ],
      "id": "06c34adf-c6b7-4f7c-98d2-8416e46eaa0b",
      "name": "Excel to JSON"
    },
    {
      "parameters": {
        "command": "=echo \"{{ $json.row[0] }}|{{ $json.row[1] }}|{{ $json.row[2] }}|{{ $json.row[3] }}|{{ $json.row[4] }}|{{ $json.row[5] }}|{{ $json.row[6] }}|{{ $json.row[7] }}|{{ $json.row[8] }}|{{ $json.row[9] }}|{{ $json.row[10] }}\" | awk -F'[|]' 'NR = 1 {\n    name        = $1\n    host        = $2\n    port        = $3\n    database    = $4\n    dbuser      = $5\n    dbpass      = $6\n    eventname   = $7\n    severity    = $8\n    interval    = $9\n    checks      = $10\n    workgroup   = $11\n\n    if (severity == \"Severity\") {\n        print \"Monitor Name|Host FQDN|Port|Database|Database User|Database Password|Event Description|Severity|CheckInterval|ConsecutiveChecks|Workgroup|CheckSeconds|HostUpper|DBUpper\"\n        next\n    }\n\n    # Decide NAME per original rules\n    if (name == \"\") {\n            item_name = \"MSSQL \" database \" monitoring Status on \" host\n    } else {\n        item_name = name\n    }\n\n    # If workgroup is null, then print empty workgroup name\n    if (workgroup == \"\")\n            workgroup = \"\"\n\n    # If eventname is null, then define eventname\n    if (eventname == \"\")\n            eventname = \"MSSQL DB \" database \" is not available on host \" host\n\n    checksecs = interval * checks * 60\n\n    # Derive short host name (part before the first dot)\n    short_host = host\n    sub(/\\..*$/, \"\", short_host)\n\n    # Convert database and short_host to uppercase for output\n    db_upper = toupper(database)\n    host_upper = toupper(short_host)\n\n    print item_name \"|\" host \"|\" port \"|\" database \"|\" dbuser \"|\" dbpass \"|\" eventname \"|\" severity \"|\" interval \"|\" checks \"|\" workgroup \"|\" checksecs \"|\" host_upper \"|\" db_upper\n}' >> {{ $('Parent Workflow').item.json.fileName }}.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -10496,
        -1256
      ],
      "id": "da192af4-a40d-42e9-916c-8ea82ede573f",
      "name": "Create Monitors CSV File"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users AS u\nJOIN (\n  SELECT userid\n  FROM users\n  WHERE username = 'user'\n) AS x ON x.userid = u.userid\nSET u.roleid = 3;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -9600,
        -1616
      ],
      "id": "e0f212d3-d5e6-406a-b8bc-4ae8c10c3dd6",
      "name": "Add Permission for Zabbix User",
      "credentials": {
        "mySql": {
          "id": "QVNaqZe72wacdXCy",
          "name": "Zabbix MySQL DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users AS u\nJOIN (\n  SELECT userid\n  FROM users\n  WHERE username = 'user'\n) AS x ON x.userid = u.userid\nSET u.roleid = 2;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -6240,
        -1616
      ],
      "id": "deb1ff40-1774-48ee-814b-3508c85d1410",
      "name": "Revoke Permission from Zabbix User",
      "credentials": {
        "mySql": {
          "id": "QVNaqZe72wacdXCy",
          "name": "Zabbix MySQL DB"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9a519fed-bfd5-4314-b9c4-2f2be21d4612"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "61067551-6d0c-4c34-bc79-3115e39dc73e",
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -7584,
        -1616
      ],
      "id": "ce4c5621-3b6d-4007-b25d-df4437fe32b2",
      "name": "Host Created?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "70dfd573-c056-4de8-a890-68182d73008f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4be8a9ab-73af-4c57-ab43-159c3b6b858c",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -10048,
        -1448
      ],
      "id": "b91af49c-62d3-4637-9781-be63164c77b5",
      "name": "Approved?"
    },
    {
      "parameters": {
        "options": {
          "delimiter": "=|"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -6688,
        -1616
      ],
      "id": "c066b8e0-85c0-4800-937c-090f9a2b77ef",
      "name": "CSV to JSON"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -10720,
        -1304
      ],
      "id": "b634691e-4ec6-4217-b414-295a6456685f",
      "name": "Loop Over Monitors"
    },
    {
      "parameters": {
        "command": "=rm -rf {{ $('Parent Workflow').item.json['fileName'] }}\nrm -rf {{ $('Parent Workflow').item.json['fileName'] }}*"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -6016,
        -1616
      ],
      "id": "dd65b382-26a9-4c46-8227-79f7f7aa779a",
      "name": "Delete Runtime File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0c6f7dc3-aa34-4e24-9b29-f0b7a2c38972"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c29a7dce-6cc2-45ae-9979-c6de881e9f6c",
                    "leftValue": "={{ $json.error.code }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -6016,
        -1808
      ],
      "id": "d56c10c8-6235-4c87-8487-4072966fc54e",
      "name": "Item Created?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "0c6f7dc3-aa34-4e24-9b29-f0b7a2c38972"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c29a7dce-6cc2-45ae-9979-c6de881e9f6c",
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -5568,
        -1808
      ],
      "id": "7491645c-da3f-456f-8f2d-da1cfbc6b345",
      "name": "Username Macro Exists?"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "0c6f7dc3-aa34-4e24-9b29-f0b7a2c38972"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c29a7dce-6cc2-45ae-9979-c6de881e9f6c",
                    "leftValue": "={{ $json.result[0].hostmacroid }}",
                    "rightValue": "-32602",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -4896,
        -1808
      ],
      "id": "38ca68e9-d505-4189-8fca-20b72b2db2cf",
      "name": "Password Macro Exists?"
    },
    {
      "parameters": {
        "command": "=awk -F'[|]' '\nBEGIN {\n    print \"<table border=\\\"1\\\">\"\n}\nNR==1 {\n    print \"  <thead><tr>\"\n    for (i=1; i<=NF; i++) {\n        if (i != 6 && i != 12 && i != 13 && i != 14) {\n            printf \"    <th>%s</th>\\n\", $i\n        }\n    }\n    print \"  </tr></thead>\"\n    print \"  <tbody>\"\n    next\n}\n{\n    print \"  <tr>\"\n    for (i=1; i<=NF; i++) {\n        if (i != 6 && i != 12 && i != 13 && i != 14) {\n            printf \"    <td>%s</td>\\n\", $i\n        }\n    }\n    print \"  </tr>\"\n}\nEND {\n    print \"  </tbody>\"\n    print \"</table>\"\n}' {{ $('Parent Workflow').item.json.fileName }}.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -10496,
        -1448
      ],
      "id": "a433cbf6-df0d-4fb6-b7ff-c43cb470166e",
      "name": "HTML Monitors list",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "fromEmail": "zabbix-admin@example.com",
        "toEmail": "={{ $('Parent Workflow').item.json['Email ID to send approval link'] }},zabbix-admin@example.com",
        "subject": "=Approval Required - {{ $workflow.name }} ({{ $workflow.id }}) [ {{ $('Parent Workflow').item.json['Application Name'] }} ({{ $('Parent Workflow').item.json['Application Alias Name'] }}) ({{ $('Parent Workflow').item.json['Application ASK ID'] }}) ]",
        "message": "={{ $('HTML Monitors list').item.json['stdout'] }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -10272,
        -1448
      ],
      "id": "eeb90165-b3f9-43b6-b368-b4a07c146e13",
      "name": "Email Approval",
      "webhookId": "97cad8ea-02a5-43a9-9bb1-0c3007920050",
      "credentials": {
        "smtp": {
          "id": "hlptozjprdl23nBh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "zabbix-admin@example.com",
        "toEmail": "={{ $('Parent Workflow').item.json['Email ID to send approval link'] }},zabbix-admin@example.com",
        "subject": "=Request Approved - {{ $workflow.name }} ({{ $workflow.id }}) [ {{ $('Parent Workflow').item.json['Application Name'] }} ({{ $('Parent Workflow').item.json['Application Alias Name'] }}) ({{ $('Parent Workflow').item.json['Application ASK ID'] }}) ]",
        "html": "={{ $('HTML Monitors list').item.json['stdout'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -9824,
        -1616
      ],
      "id": "7b1d6fb2-a3c3-4508-88eb-32bbc5ce1014",
      "name": "Approved",
      "webhookId": "97cad8ea-02a5-43a9-9bb1-0c3007920050",
      "credentials": {
        "smtp": {
          "id": "hlptozjprdl23nBh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "zabbix-admin@example.com",
        "toEmail": "={{ $('Parent Workflow').item.json['Email ID to send approval link'] }},zabbix-admin@example.com",
        "subject": "=Request Declined - {{ $workflow.name }} ({{ $workflow.id }}) [ {{ $('Parent Workflow').item.json['Application Name'] }} ({{ $('Parent Workflow').item.json['Application Alias Name'] }}) ({{ $('Parent Workflow').item.json['Application ASK ID'] }}) ]",
        "html": "={{ $('HTML Monitors list').item.json['stdout'] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -9824,
        -1424
      ],
      "id": "5b665852-8bf8-4d44-896d-de11d9269959",
      "name": "Declined",
      "webhookId": "97cad8ea-02a5-43a9-9bb1-0c3007920050",
      "credentials": {
        "smtp": {
          "id": "hlptozjprdl23nBh",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"templategroup.create\",\n    \"params\": {\n        \"name\": \"DB/MSSQL/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\"\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -9376,
        -1616
      ],
      "id": "f93d9b84-0c0c-43f0-a298-6988cf5633e8",
      "name": "Create Template Group",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n\t\"jsonrpc\": \"2.0\",\n\t\"method\": \"hostgroup.create\",\n\t\"params\": {\n\t\t\"name\": \"DB/MSSQL/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\"\n\t},\n\t\"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -9152,
        -1616
      ],
      "id": "225c614d-9f0e-420d-8e84-7d5c47e1d90c",
      "name": "Create Host Group",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"templategroup.get\",\n    \"params\": {\n      \"filter\": { \"name\": \"DB/MSSQL/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\" },\n      \"output\": [ \"groupid\", \"name\" ]\n    },\n    \"id\": 1\n}\n",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8704,
        -1616
      ],
      "id": "897c607d-801f-476c-8684-045aa52094db",
      "name": "Template Group ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"hostgroup.get\",\n    \"params\": {\n      \"filter\": { \"name\": \"DB/MSSQL/{{ $('Parent Workflow').item.json['Application Alias Name'] }}\" },\n      \"output\": [ \"groupid\", \"name\" ]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8480,
        -1616
      ],
      "id": "5e03039f-b2cd-40cb-81d5-7be643898b4c",
      "name": "Host Group ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"template.create\",\n    \"params\": {\n      \"host\": \"Example Template MSSQL -{{ $('Exclude Special Characters').item.json.stdout }}\",\n      \"name\": \"Example Template MSSQL -{{ $('Exclude Special Characters').item.json.stdout }}\",\n      \"description\": \"{{ $('Parent Workflow').item.json['Application Name'] }}\",\n      \"groups\": [\n        { \"groupid\": \"{{ $('Template Group ID').item.json.result[0].groupid }}\" }\n      ],\n      \"tags\": [\n\t{ \"tag\": \"NODATA\", \"value\": \"YES\" },\n        { \"tag\": \"OBJECTCLASS\", \"value\": \"MSSQL\" },\n        { \"tag\": \"OBJECTPARAMETER\", \"value\": \"DB Status\" }\n      ]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8256,
        -1616
      ],
      "id": "681761f7-c6ab-470f-b81a-2db63acda8d8",
      "name": "Create Template",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"template.get\",\n    \"params\": {\n      \"filter\": { \"host\": \"Example Template MSSQL -{{ $('Exclude Special Characters').item.json.stdout }}\" },\n      \"output\": [\"templateid\", \"host\", \"name\"]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -8032,
        -1616
      ],
      "id": "038c1f20-b3b4-4e5f-811d-d61de1ab5c7a",
      "name": "Template ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "=\n{\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"host.create\",\n  \"params\": {\n    \"host\": \"{{ $('Exclude Special Characters').item.json.stdout }}\",\n    \"status\": 1,\n    \"monitored_by\": 1,\n    \"proxyid\": 30774,\n    \"interfaces\": [{\n      \"type\": 1,\n      \"main\": 1,\n      \"useip\": 1,\n      \"ip\": \"{$NON_DMZ_PROXY_IP}\",\n      \"dns\": \"\",\n      \"port\": \"10050\"\n    }],\n    \"groups\": [{ \"groupid\": \"{{ $('Host Group ID').item.json.result[0].groupid }}\" }],\n    \"templates\": [{ \"templateid\": \"{{ $json.result[0].templateid }}\" }],\n    \"tags\": [{ \"tag\": \"APP\", \"value\": \"{{ $('Parent Workflow').item.json['Application Name'] }}\" }]\n  },\n  \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7808,
        -1616
      ],
      "id": "e156219a-c4d4-43ae-be5e-884c66f63c47",
      "name": "Create Host",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"host.get\",\n    \"params\": {\n      \"filter\": { \"host\": \"{{ $('Exclude Special Characters').item.json.stdout }}\" },\n      \"output\": [\"hostid\", \"host\", \"name\"]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7360,
        -1712
      ],
      "id": "a87e8bc5-243f-4a5e-869f-9e7a4c8c267e",
      "name": "Host ID",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\":\"2.0\",\n    \"method\":\"host.massadd\",\n    \"params\":{\n      \"hosts\":[{ \"hostid\": \"{{ $json.result[0].hostid }}\" }],\n      \"templates\":[{ \"templateid\": \"{{ $('Template ID').item.json.result[0].templateid }}\" }],\n      \"groups\": [{ \"groupid\": \"{{ $('Host Group ID').item.json.result[0].groupid }}\" }]\n    },\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -7136,
        -1712
      ],
      "id": "1c4fa431-52fd-4eae-a679-95549f5978f3",
      "name": "Update Host",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{ $('Parent Workflow').item.json['fileName'] }}.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -6912,
        -1616
      ],
      "id": "0743d286-acfc-4e29-aec3-000af4d198a1",
      "name": "Read CSV"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -6464,
        -1616
      ],
      "id": "0bf5eafe-1cae-40fd-9bbc-8956a7546d0e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"method\": \"item.create\",\n  \"params\": {\n    \"name\": \"{{ $json['Monitor Name'] }}\",\n    \"hostid\": \"{{ $('Template ID').item.json.result[0].templateid }}\",\n    \"key_\": \"db.odbc.select[{{ $json.HostUpper }}.{{ $json.DBUpper }}.Availability.Monitor,,\\\"Driver={$MSSQL.DRIVER};Server={{ $json['Host FQDN'] }};Port={{ $json.Port }};Database={{ $json.Database }};TrustServerCertificate=yes\\\"]\",\n    \"type\": 11,\n    \"value_type\": 3,\n    \"username\": \"{$MSSQL.USER.{{ $json.HostUpper }}.{{ $json.DBUpper }}}\",\n    \"password\": \"{$MSSQL.PASS.{{ $json.HostUpper }}.{{ $json.DBUpper }}}\",\n    \"params\": \"SELECT 1\",\n    \"delay\": \"{{ $json.CheckInterval }}m\",\n    \"status\": 0,\n    \"tags\": [\n      { \"tag\": \"Application\", \"value\": \"MSSQL\" }\n    ]\n  },\n  \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -6240,
        -1808
      ],
      "id": "adc6ab7f-9d08-4a5e-9548-373a80da12bd",
      "name": "Create Item",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "preBuiltAgentsCalloutHttpRequest": "",
        "httpVariantWarning": "",
        "curlImport": "",
        "method": "POST",
        "": "",
        "url": "https://zabbixmon.example.com/api_jsonrpc.php",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "zabbixApi",
        "provideSslCertificates": false,
        "sendQuery": false,
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"trigger.create\",\n    \"params\": [{\n      \"description\": \"{{ $('Loop Over Items').item.json['Event Description'] }}\",\n      \"expression\": \"nodata(/{{ $('Template ID').item.json.result[0].name }}/db.odbc.select[{{ $('Loop Over Items').item.json.HostUpper }}.{{ $('Loop Over Items').item.json.DBUpper }}.Availability.Monitor,,\\\"Driver={$MSSQL.DRIVER};Server={{ $('Loop Over Items').item.json['Host FQDN'] }};Port={{ $('Loop Over Items').item.json.Port }};Database={{ $('Loop Over Items').item.json.Database }};TrustServerCertificate=yes\\\"],{{ $('Loop Over Items').item.json.CheckSeconds }}s)=1\",\n      \"priority\": \"{{ $('Loop Over Items').item.json.Severity }}\",\n      \"status\": 1,\n      \"comments\": \"{{ $('Loop Over Items').item.json['Event Description'] }}\",\n      \"tags\": [\n        {\"tag\": \"CATEGORY\",        \"value\": \"Application\"},\n        {\"tag\": \"DBNAME\",          \"value\": \"{{ $('Loop Over Items').item.json.Database }}\"},\n        {\"tag\": \"DOMAIN\",          \"value\": \"{{ $('Loop Over Items').item.json['Host FQDN'] }}\"},\n        {\"tag\": \"NODATA\",          \"value\": \"YES\"},\n        {\"tag\": \"OBJECTCLASS\",     \"value\": \"MSSQL\"},\n        {\"tag\": \"OBJECTINSTANCE\",  \"value\": \"MSSQL\"},\n        {\"tag\": \"OBJECTNAME\",      \"value\": \"\"},\n        {\"tag\": \"OBJECTPARAMETER\", \"value\": \"DB Status\"},\n        {\"tag\": \"TRIGGERID\",       \"value\": \"{TRIGGER.ID}\"},\n        {\"tag\": \"WORKGROUP\",       \"value\": \"{{ $('Loop Over Items').item.json.Workgroup }}\"}\n      ]\n    }],\n    \"id\": 1\n}",
        "options": {},
        "infoMessage": ""
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -4448,
        -1640
      ],
      "id": "b9e2890b-64af-44bd-ad13-8affc60cb0c4",
      "name": "Create Trigger",
      "extendsCredential": "zabbixApi",
      "credentials": {
        "zabbixApi": {
          "id": "l9TVErFxbKff0DHk",
          "name": "Zabbix account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -11168,
        -1304
      ],
      "id": "0f5ad056-a562-455e-a84a-d1b626a8ecd6",
      "name": "Parent Workflow"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "922fa53b-4114-4dc9-a432-e54d3f658d2a",
              "name": "stdout",
              "value": "={{   String($('Parent Workflow')?.item?.json?.['Application Alias Name'] ?? '')     .replace(/[~!@#$%\\^&\\*\\()\\+=\\{\\}\\\\:;\\\"?\\/<>,`|\\[\\]']/g, '') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -8928,
        -1616
      ],
      "id": "2ef2a3a9-aa3a-4b7a-954a-bba98b28051d",
      "name": "Exclude Special Characters"
    }
  ],
  "pinData": {},
  "connections": {
    "Username Macro ID": {
      "main": [
        [
          {
            "node": "Username Macro Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Macro ID": {
      "main": [
        [
          {
            "node": "Password Macro Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Username Macro": {
      "main": [
        [
          {
            "node": "Password Macro ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Password Macro": {
      "main": [
        [
          {
            "node": "Create Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Username Macro": {
      "main": [
        [
          {
            "node": "Password Macro ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Password Macro": {
      "main": [
        [
          {
            "node": "Create Trigger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel to JSON": {
      "main": [
        [
          {
            "node": "Loop Over Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Monitors CSV File": {
      "main": [
        [
          {
            "node": "Loop Over Monitors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Permission for Zabbix User": {
      "main": [
        [
          {
            "node": "Create Template Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revoke Permission from Zabbix User": {
      "main": [
        [
          {
            "node": "Delete Runtime File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host Created?": {
      "main": [
        [
          {
            "node": "Host ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Declined",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CSV to JSON": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Monitors": {
      "main": [
        [
          {
            "node": "HTML Monitors list",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Monitors CSV File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Created?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Username Macro ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Username Macro Exists?": {
      "main": [
        [
          {
            "node": "Update Username Macro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Username Macro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Password Macro Exists?": {
      "main": [
        [
          {
            "node": "Update Password Macro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Password Macro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Monitors list": {
      "main": [
        [
          {
            "node": "Email Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Approval": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved": {
      "main": [
        [
          {
            "node": "Add Permission for Zabbix User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Template Group": {
      "main": [
        [
          {
            "node": "Create Host Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Host Group": {
      "main": [
        [
          {
            "node": "Exclude Special Characters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template Group ID": {
      "main": [
        [
          {
            "node": "Host Group ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host Group ID": {
      "main": [
        [
          {
            "node": "Create Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Template": {
      "main": [
        [
          {
            "node": "Template ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template ID": {
      "main": [
        [
          {
            "node": "Create Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Host": {
      "main": [
        [
          {
            "node": "Host Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host ID": {
      "main": [
        [
          {
            "node": "Update Host",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Host": {
      "main": [
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV": {
      "main": [
        [
          {
            "node": "CSV to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Revoke Permission from Zabbix User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Item": {
      "main": [
        [
          {
            "node": "Item Created?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Trigger": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parent Workflow": {
      "main": [
        [
          {
            "node": "Excel to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Exclude Special Characters": {
      "main": [
        [
          {
            "node": "Template Group ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f408963c-59ff-46f0-b7f9-7c9e996259bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f9b7d8392fb9b22e1572f122d2199da1a316578c69792bb5ebd6447fbba818b"
  },
  "id": "AIBErE1YtLTXMWEu",
  "tags": []
}